/*
Это временная таблица стилей для тестирования.
Все селекторы должны быть перенесены в \landlord\resources\assets\less\landlord в LESS-файл соответствующий блоку
Названия классов должны соответствовать БЭМ
*/
.ll-search-result-count {
	padding-top: 20px;
}
.ll-search-result-count-object{
	padding: 20px;
}
.ll-search-result-counter-circle{
	display: inline-block;
	font-size: 24px;
	padding-top: 0px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #dddddd;
}
.ll-search-result-count p{
	font-size: 18px;
	font-weight: bolder;
}
/*&&*/

.ll-footer-login .col-md-4 {
    width: 60%;
    position: absolute;
    top: -80px;
}

/*перенесено*/

/*sell 2*/

/*форма поиска*/
.ll-search-form-panel_open{
	position: fixed;
	background-color: red;
	top: 20px;
	left: 0px;
	height: 40px;
	width: 40px;
	z-index: 30;
	display: none;
}
/*форма поиска*/
@media (max-width: 600px) {
.ll-search-form-panel_open{

	display: inline;
}
.ll-search-form-panel_open{
display: inline-block;		
}
.llg-wrapper-main__search .col-md-3{
	width: 100%;
	overflow: hidden;
}
.llg-wrapper-main__search .col-md-9{
	width: 100%;
}
.ll-search-form {
    width: 100%;
    overflow: hidden;
    font-weight: bold;
	background-color: #ffffff;
	position: fixed;
	left: -100%;
	z-index: 20;
}
.affix {
    position: fixed;
    margin-top: 40px;
}
.ll-search-form__fixed {
    position: fixed;
    top: 0;
}
}



