html {
    font-size: 16px; // шрифт для диаграмм
}

@font-face {
  font-family: "San Francisco";
//  src: url("../public/fonts/sanfranciscodisplay-semibold-webfont.woff");
  src: url("../public/fonts/SFNSDisplay-Regular.otf");
}
a,
a:hover,
a:visited {
  color: @base_red_color;
}
body {
  font-family: 'San Francisco', 'Arial', sans-serif;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #FFFFFF url("../images/interface/select.png") right center no-repeat;
}
input,
select,
option,
datalist {
  .mixin__bordered (#DDDDDD);
  .mixin__border-radius (0);
  background-color: #FFFFFF;
  box-shadow: none;
  font-family: 'San Francisco', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  color: #333333;
}
option {
  border:none;
  font-weight: normal;
  padding: 3px 20px 3px 5px;
}
input[type=text],
select {
  height: 35px;
  padding: 0 20px 0 5px;
}
input[type=submit]{
  background-color: @base_red_color;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

::-webkit-input-placeholder {color:#DDDDDD;}
::-moz-placeholder          {color:#DDDDDD;} // Firefox 19+
:-moz-placeholder           {color:#DDDDDD;} // Firefox 18-
:-ms-input-placeholder      {color:#DDDDDD;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}