.llg-hide {
  display: none;
}
.llg-grey-red-skin {
  width:25px;
  height: 25px;
  background:#B41A1A;
  position: absolute;
  top: 5px;
  right: 5px;
  overflow: hidden;
  cursor: pointer;
}
.llg-brown-skin {
  width:25px;
  height: 25px;
  background:saddlebrown;
  position: absolute;
  top: 5px;
  right: 35px;
  overflow: hidden;
  cursor: pointer;
}

.llg-logo-variant-1,
.llg-logo-variant-1-1,
.llg-logo-variant-2,
.llg-logo-variant-2-1,
.llg-logo-variant-3,
.llg-logo-variant-3-1,
.llg-logo-variant-4,
.llg-logo-variant-4-1,
.llg-logo-variant-5 {
  width:25px;
  height: 25px;
  background:#B41A1A;
//  background:#E0E0E0;
  position: absolute;
  overflow: hidden;
  color:#FFFFFF;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  cursor: pointer;
  z-index:1000;
  top: 0px;
}

.llg-logo-variant-1 {left: 5px;}
.llg-logo-variant-2 {left: 35px;}
.llg-logo-variant-3 {left: 65px;}
.llg-logo-variant-4 {left: 95px;}
.llg-logo-variant-5 {left: 125px;}

.llg-logo-variant-1-1 {left: 155px;}
.llg-logo-variant-2-1 {left: 185px;}
.llg-logo-variant-3-1 {left: 215px;}
.llg-logo-variant-4-1 {left: 245px;}

//.llg-news-variant-1,
//.llg-news-variant-2,
//.llg-news-variant-3,
//.llg-news-variant-4 {
//  width:25px;
//  height: 25px;
////  background:#B41A1A;
//  background:#E0E0E0;
//  position: absolute;
//  top: 5px;
//  overflow: hidden;
//  color:#FFFFFF;
//  text-align: center;
//  font-weight: bold;
//  line-height: 25px;
//  cursor: pointer;
//}
//
//.llg-news-variant-1 {
//  right: 5px;
//}
//.llg-news-variant-2 {
//  right: 35px;
//}
//.llg-news-variant-3 {
//  right: 65px;
//}
//.llg-news-variant-4 {
//  right: 95px;
//}

.llg-career-variant-1,
.llg-career-variant-2
 {
  width:25px;
  height: 25px;
  background:@base_red_color;
  position: absolute;
  top: 5px;
  overflow: hidden;
  color:#FFFFFF;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  cursor: pointer;
}

.llg-career-variant-1 {
  right: 5px;
}
.llg-career-variant-2 {
  right: 35px;
}

.llg-news-splitter{
  background-color: #E6E4E4;
  margin: 0;
  padding: 20px;
  font-size:2em;
  height: 70px;
  overflow: hidden;
}

.container {
//	width: 1030px;
//  border-right: 1px solid red;
//  border-left: 1px solid red;
	}
.col-md-12 {
	padding:0;
}
.row {
	margin:0;
}
	
.llg-stretch-img-vertical,
.llg-stretch-img-horizontal,
.llg-stretch-img-both{
  text-align: center;
  overflow: hidden;
}
.llg-stretch-img-vertical img,
.llg-stretch-img-horizontal img,
.llg-stretch-img-both img{
  vertical-align: middle;
  display: inline-block;
}

.llg-stretch-img-vertical img{
  height: 100%;
  width: auto;
}
.llg-stretch-img-horizontal img{
  width: 100%;
  height: auto;
}
.llg-stretch-img-both img{
  max-height: 100%;
  max-width: 100%;
}
//.......................................................
.llg-float-clear:after{
  content : ".";
  visibility : hidden;
  display : block;
  height : 0;
  clear : both;
}
//.......................................................

.llg-button {
  background-color: @base_red_color;
  border: none;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  overflow:hidden;
  font-size: 16px;
  margin-top: 20px;
  //border-radius: 3px;
  white-space: nowrap;
}
.llg-button:hover,
.llg-button:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.llg-search-result-panels {
  padding:40px 0 0 0;
}
// ----------------------------  WRAPPERS -----------------------------------------------
.llg-wrapper {
}
  .llg-wrapper-header {
    border-bottom: 2px solid @base_red_color;
    padding: 9px 20px 0 0;
//    background-color: @base_gray_color;
  }
.llg-wrapper-toggle {
  background:#F5F5F6;
  padding:20px 0 0 0;
  border-bottom: 1px solid #ddd;
}
.llg-wrapper-splitter {
  width: 100%;
  height: 74px;
  overflow: hidden;
  margin: 30px 0 0 0;
  background-color: #E0E0E0;
}
.llg-steps-toggle-container {
  background: #FFFFFF;
  overflow: hidden;
}
.llg-wrapper-main__single-service,
.llg-wrapper-main__career,
.llg-wrapper-main__vacancy,
.llg-wrapper-main__buy-advices,
.llg-wrapper-main__sell-advices,
.llg-wrapper-main__services,
.llg-wrapper-main__services-additional,
.llg-wrapper-main__why-buy-with-landlord,
.llg-wrapper-main__why-sell-with-landlord,
.llg-wrapper-main__why-rent-in-with-landlord,
.llg-wrapper-main__why-rent-out-with-landlord,
.llg-wrapper-main__why-documents-with-landlord,
.llg-wrapper-main__steps-to-buy,
.llg-wrapper-main__steps-to-sell,
.llg-wrapper-main__steps-to-documents,
.llg-wrapper-main__steps-to-rent-in,
.llg-wrapper-main__steps-to-rent-out,
.llg-wrapper-main__analytics,
.llg-wrapper-main__awards,
.llg-wrapper-main__services-for-buyer,
.llg-wrapper-main__services-for-seller,
.llg-wrapper-main__services-for-tenant,
.llg-wrapper-main__services-for-owner {
  .mixin__gray-container;
}

.llg-wrapper-main__about-company {
  background: #E0E0E0;
}
.llg-wrapper-main-home-news {
  position: relative;
}
  .llg-wrapper-main {}
    .llg-wrapper-main__info {}
    .llg-wrapper-main__steps-to-buy{}
    .llg-wrapper-main__mobile-application{}
    .llg-wrapper-main__market-research{}
    .llg-wrapper-main__estate-valuation{}
    .llg-wrapper-main__news{}
    .llg-wrapper-main__awards{}
    .llg-wrapper-main__history{}
    .llg-wrapper-main__structure{}
    .llg-wrapper-main__clients{}
    .llg-wrapper-main__education{}
    .llg-wrapper-main__vacancies{}
    .llg-wrapper-main__analytics{}
    .llg-wrapper-main__commercial-estate {}

.llg-wrapper-main__steps-to-sell{
  background-color: #E0E0E0;
  padding-bottom: 30px;
  overflow: visible;
  //  border-bottom: 1px solid #808080;
  box-shadow:0 1px 10px -2px rgba(0, 0, 0, 0.701961) ;
}

.llg-wrapper-main__why-buy-with-landlord,
.llg-wrapper-main__why-rent-in-with-landlord,
.llg-wrapper-main__why-rent-out-with-landlord,
.llg-wrapper-main__why-sell-with-landlord {
  .col-md-8{
    padding-right: 0;
    padding-left: 0;
  }
  .col-md-12{
    padding-right: 0;
    padding-left: 0;
  }
  .col-md-4{
    padding-right: 0;
    padding-left: 13px;
  }
  @media (max-width: 980px) {
    .col-md-4{
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.llg-wrapper-footer {
  position: relative;
}

.llg-panel {
  min-height: 600px; // Минимальная высота
  padding-top: 40px;
}

// Начальные значения для формы поиска квартиры, потом будут меняться скриптом
.llg-for-appartment {}
.llg-for-household,
.llg-for-land,
.llg-for-rent {
  display: none;
}

.llg-button-detail {
  color:@base_red_color !important;
  font-size:14px;
  font-weight:700;
  text-decoration:underline;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border: solid 1px #DDDDDD;
	color: gray;
}

// Чекбокс
.llg-input-check {
//  display: inline-block;
//  *display: inline; /* inline-block ie7 fix */
  zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  width: 100%;
  text-align: left;
  input {
    width: 16px;
    height: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -7px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
  }
  label {
    line-height: 22px;
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding-left: 25px;
  }
  label:before {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -12px;
    background: rgba(0, 0, 0, 0) url("../images/interface/checkbox.png") repeat;
    z-index: 5;
    content: '';
  }
  input:checked + label:before {
    background-position: 0 -20px;
    margin-top: -11px;
  }
}

//Радокнопки
.llg-input-radio {
  //  display: inline-block;
  //  *display: inline; /* inline-block ie7 fix */
  zoom: 1;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  width: 50%;
  text-align: left;
  display: block;
  float: left;
  input {
    width: 21px;
    height: 21px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -11px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
  }
  label {
    line-height: 22px;
    display: block;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
  label:before {
    display: block;
    position: absolute;
    left: -12px;
    top: 20px;
    width: 21px;
    height: 17px;
    margin-top: -9px;
    background: rgba(0, 0, 0, 0) url("../images/interface/radiobutton.png") no-repeat;
    z-index: 5;
    content: '';
  }
  input:checked + label:before {
    margin-top: -6px;
    background-position: 0 -17px;
  }
}
//Отступы
.margin-top-13px {
margin-top: 13px;
}

.margin-top-20px {
margin-top: 20px;
}

.margin-top-30px {
margin-top: 30px;
}

.padding-right-0{
  padding-right: 0;
}

.margin-top-50px {
margin-top: 50px;
}
//Сcылки
a:hover{
	cursor: pointer;
}
//Шрифт
.font-style-italic{
font-style: italic;
}
.white-bg {
    background-color:#ffffff;
}
.red-text{
	color: @base_red_color;
}
.yellow-star{
	color: #FFD700;
}

.padding-left_right-0{
  padding-left: 0;
  padding-right: 0;
}

.margin-bottom-1em{
  margin-bottom: 1em;
}

.padding-right-0{
  padding-right:0;
}