.mixin__no-padding ()      { padding: 0; }
.mixin__no-left-padding ()   { padding-left: 0; }
.mixin__no-right-padding ()  { padding-right: 0; }
.mixin__no-top-padding ()    { padding-top: 0; }
.mixin__no-bottom-padding () { padding-left: 0; }
.mixin__no-margin ()        { margin: 0; }
.mixin__no-border ()        { border: none; }
.mixin__no-border-radius ()  { border-radius: 0; }
.mixin__no-list-style ()   { list-style: none; }
.mixin__hide ()            { display: none; }
.mixin__block ()           { display: block; }
.mixin__float-right ()      {
  display: block;
  float: right;
}
.mixin__float-left ()       {
  display: block;
  float:left;
}
.mixin__no-float ()         { float: none; }
.mixin__text-center ()      { text-align: center; }
.mixin__text-right ()       { text-align: right; }
.mixin__text-left ()        { text-align: left; }
.mixin__clear ()           { clear: both; }

.mixin__border-radius (@radius) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -o-border-radius: @radius;
}

.mixin__transition (@value) {
  transition: @value;
  -moz-transition: @value;
  -webkit-transition: @value;
  -o-transition: @value;
  -ms-transition: @value;
}

.mixin__bordered (@color) {
  border: solid 1px @color;
}
.mixin__base-padding () {padding:@base_padding;}
.mixin__base-margin () {margin:@base_margin;}
.mixin__base-margin-and-padding () {
  .mixin__base-margin;
  .mixin__base-padding;
}
.mixin__strike-through () {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid #676767 !important;
  -webkit-transform: rotate(-16deg);
  transform: rotate(-5deg);
}

.mixin__select-placeholder () {
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}

.mixin__gray-container () {
  background-color: #E0E0E0;
  padding-bottom: 30px;
  overflow: hidden;
//  border-bottom: 1px solid #808080;
  box-shadow:0 1px 10px -2px rgba(0, 0, 0, 0.701961) ;
}

.mixin__why-with-landlord {
  margin-top: 13px;
  margin-bottom: 10px;
  padding:25px;
  background: #FFFFFF;
  font-size: @base_font_size;
  p:last-child {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    margin-top: 0;
    color:#B40101;
    font-size:18px;
    letter-spacing:0;
    font-weight: bold;
  }
  dl {
    margin-top:40px;
  }
  dt {
    margin: 10px 0;
  }
  dd {
    margin-left: 30px;
  }
  dt:before {
    color:#B72C2C;
    font-size:14px;
    font-weight:bolder;
    content: "• ";
  }
  iframe {
    width: 100%;
    height: auto;
  }
}
.mixin__servises-for-category {
  padding:30px 20px;
  background:#FFFFFF;
  margin-top:20px;
  overflow: hidden;
  .ll-services-for-category__step {
    width:100%;
    clear: both;
    padding: 25px 0;
  .ll-services-for-category__number,
  .ll-services-for-category__text,
  .ll-services-for-category__image {
    float: left;
    display: block;
    height:70px;
    overflow:hidden;
    vert-align: middle;
  }
  .ll-services-for-category__text {
    width: 75%;
    background-image: url("../images/interface/services-step-bg.png");
    background-repeat: repeat-x;
    text-align: left;
    line-height: 70px;
    font-size: 20px;
    padding-left: 20px;
  }
  .ll-services-for-category__number {
    color:#CCCCCC;
    width: 10%;
    text-align: right;
    img {
      height:54px;
      width: auto;
      margin-top: 7px;
    }
  }
  .ll-services-for-category__image {
    width: 15%;
    img {
      text-align: left;
      height:70px;
      width: auto;
    }
  }
}
// Горизонтальная версия:
//.mixin__servises-for-category {
//  padding:30px 20px;
//  background:#FFFFFF;
//  margin-top:20px;
//  overflow: hidden;
//  .ll-services-for-category__step {
//    text-align: center;
//    float: left;
//    display: block;
//    padding:10px;
//    width:20%;
//    border-right:1px solid #DDDDDD;
//    height:170px;
//  }
//  .ll-services-for-category__step:last-child {
//    border-right:none;
//  }
  h2 {
    color:#B72C2C;
    text-align: left;
    margin-bottom:30px;
  }
  h2:first-child {
    margin-top: 0;
  }
  p:first-child {
    height:70px;
  }
  img {
    bottom:10px;
  }
}

.mixin__red-link {
  a,
  a:hover,
  a:visited {
    color:@base_red_color !important;
  }
}