// Уведомление для собранного CSS-файла
/*-------------------------------------------------------
Этот файл стилей собирается из нескольких LESS файлов, которые находятся в папке \resources\assets\less\landlord\
Его не нужно изменять, т.к. он будет перезаписан и изменения будут потеряны.
Сборка идёт через Elixir. См. http://laravel.su/docs/5.0/elixir
Настройки сборки находятся в файле \resources\assets\less\landlord\landlord.less

Как установить себе Laravel Elixir: 
a) Устанавливаем node.js https://nodejs.org/en/
b) Запускаем командную строку (cmd) в режиме администратора
c) Переходим в папку с нашим проектом (cd путь к папке)
d) Запускаем по очереди команды:
    npm install --global gulp
    npm install --save-dev gulp
    npm install
e) После установки сборка идет командой:
    gulp
--------------------------------------------------------*/

// ------------------------------------------------------
@import "_variables"; // Переменные
@import "_mixins"; // Миксины

@import "_global-selectors"; // Стили для селекторов на всем сайте
/*------------------------------------------------------*/
@import "_global-classes"; // Стили для глобальных классов на всем сайте
/*------------------------------------------------------*/


// Блоки:
@import "ll-awards"; // Награды
/*------------------------------------------------------*/
@import "ll-analytics"; // Аналитика
/*------------------------------------------------------*/
@import "ll-agents-grid"; //
/*------------------------------------------------------*/
@import "ll-agents-sorting"; //
/*------------------------------------------------------*/
@import "ll-agents-specializ";// Блок формы поиска по агентам
/*------------------------------------------------------*/
@import "ll-agent-card"; //Карточка на странице агента
/*------------------------------------------------------*/
@import "ll-about"; //о компании
/*------------------------------------------------------*/
@import "ll-agent-info-contact-me"; // Контактная форма агента
/*------------------------------------------------------*/
@import "ll-buy-advices"; // Советы по покупке
/*------------------------------------------------------*/
@import "ll-copyright"; // Копирайт
/*------------------------------------------------------*/
@import "ll-company-news-page__comments-facebook"; // Коментарии facebook
/*------------------------------------------------------*/
@import "ll-clients"; // Клиенты и отзывы
/*------------------------------------------------------*/
@import "ll-career"; // Карьера
/*------------------------------------------------------*/
@import "ll-company-news-page"; // Страница одной новости
/*------------------------------------------------------*/
@import "ll-copyright-grid"; //
/*------------------------------------------------------*/
@import "ll-download-mobile-application"; // Ссылки на скачивание мобильного приложения на главной странице
/*------------------------------------------------------*/
@import "ll-estate-info"; // Подробная информация о квартире
/*------------------------------------------------------*/
@import "ll-estate-info-slider"; // Слайдер на странице одробной информации 
/*------------------------------------------------------*/
@import "ll-estate-on-map"; // Карта с расположением объекта недвижимости
/*------------------------------------------------------*/
@import "ll-education"; // Обучение
/*------------------------------------------------------*/
@import "ll-formtable"; // formtable используется в callform.blade и app.blade
/*------------------------------------------------------*/
@import "ll-footer-menu"; // Меню в подвале сайта
/*------------------------------------------------------*/
@import "ll-footer-login"; // Меню в подвале сайта
/*------------------------------------------------------*/
@import "ll-footer-seo-links"; // Ссылки на продажу квартир в подвале сайта
/*------------------------------------------------------*/
@import "ll-header-links"; // Ссылки в верхней части шапки сайта
/*------------------------------------------------------*/
@import "ll-header-menu"; // Главное меню в шапке сайта
/*------------------------------------------------------*/
@import "ll-header-user"; // Главное меню в шапке сайта
/*------------------------------------------------------*/
//@import "ll-home-carousel"; // Карусель на главной странице
/*------------------------------------------------------*/
@import "ll-home-without-carousel"; // Версия без карусели на главной странице
/*------------------------------------------------------*/
@import "ll-home-offers"; // Предложение услуг на главной странице сайта
/*------------------------------------------------------*/
@import "ll-services-offers"; // Предложение услуг
/*------------------------------------------------------*/
@import "ll-home-news-variant-1"; // Новости на главной
/*------------------------------------------------------*/
@import "ll-home-news-variant-2"; // Новости на главной
/*------------------------------------------------------*/
@import "ll-home-news-variant-3"; // Новости на главной
/*------------------------------------------------------*/
@import "ll-home-news-variant-4"; // Новости на главной
/*------------------------------------------------------*/
@import "ll-home-career"; // Карьера на главной
/*------------------------------------------------------*/
@import "ll-history"; // История
/*------------------------------------------------------*/
@import "ll-ipoteka-calculator"; // Калькулятор ипотеки
/*------------------------------------------------------*/
@import "ll-logo"; // Логотип
/*------------------------------------------------------*/
@import "ll-mobile-application"; // Мобильное приложение
/*------------------------------------------------------*/
@import "ll-menu-panel-left"; // Боковая панель меню
/*------------------------------------------------------*/
@import "ll-news"; // Страница новостей
/*------------------------------------------------------*/
@import "ll-offices"; // Офисы
/*------------------------------------------------------*/
@import "ll-pagination"; // Пагинация
/*------------------------------------------------------*/
@import "ll-social-buttons"; // Кнопки социальных сетей
/*------------------------------------------------------*/
@import "ll-search-form"; // Форма поиска
/*------------------------------------------------------*/
@import "ll-search-result-grid"; // Результат поиска в виде таблицы
/*------------------------------------------------------*/
@import "ll-search-result-list"; // Результат поиска в виде списка
/*------------------------------------------------------*/
@import "ll-search-result-map"; // Результат поиска в виде карты
/*------------------------------------------------------*/
@import "ll-search-results-sorting"; // Сортировка результатов поиска
/*------------------------------------------------------*/
@import "ll-search-results-limit"; // Количество результатов поиска на странице
/*------------------------------------------------------*/
@import "ll-search-result-count"; // Количество результатов поиска на странице
/*------------------------------------------------------*/
@import "ll-steps-to-sell-content"; // Шаги к продаже недвижимости
/*------------------------------------------------------*/
@import "ll-steps-to-buy-content"; // Шаги к покупке недвижимости
/*------------------------------------------------------*/
@import "ll-steps-to-rent-in-content"; // Шаги к аренде недвижимости
/*------------------------------------------------------*/
@import "ll-steps-to-rent-out-content"; // Шаги к сдаче недвижимости
/*------------------------------------------------------*/
@import "ll-steps-to-documents-content"; // Шаги к оформлению документов
/*------------------------------------------------------*/
@import "ll-steps-to-sell-toggle"; //
/*------------------------------------------------------*/
@import "ll-steps-to-buy-toggle"; //
/*------------------------------------------------------*/
@import "ll-steps-to-buy-buttons"; //
/*------------------------------------------------------*/
@import "ll-steps-to-sell-buttons"; //
/*------------------------------------------------------*/
@import "ll-steps-to-documents-buttons"; //
/*------------------------------------------------------*/
@import "ll-steps-to-rent-in-buttons"; //
/*------------------------------------------------------*/
@import "ll-steps-to-rent-out-buttons"; //
/*------------------------------------------------------*/
@import "ll-services-buttons"; //
/*------------------------------------------------------*/
@import "ll-steps-analitics"; //
/*------------------------------------------------------*/
@import "ll-steps-why-buy-with-landlord"; //
/*------------------------------------------------------*/
@import "ll-steps-why-sell-with-landlord"; //
/*------------------------------------------------------*/
@import "ll-steps-why-rent-in-with-landlord"; //
/*------------------------------------------------------*/
@import "ll-steps-why-rent-out-with-landlord"; //
/*------------------------------------------------------*/
@import "ll-steps-why-documents-with-landlord"; //
/*------------------------------------------------------*/
@import "ll-similar-offers"; // Похожие предложения
/*------------------------------------------------------*/
@import "ll-search-form-home"; // Форма поиска на главной странице
/*------------------------------------------------------*/
@import "ll-structure"; // Структура компании
/*------------------------------------------------------*/
@import "ll-sell-form"; // Добавление нового объекта
/*------------------------------------------------------*/
@import "ll-sell-header"; // Заголовок формы добаления квартиры
/*------------------------------------------------------*/
@import "ll-sell-advices"; // Советы по продаже
/*------------------------------------------------------*/
@import "ll-services"; // Услуги
/*------------------------------------------------------*/
@import "ll-services-discounts"; // Услуги
/*------------------------------------------------------*/
@import "ll-skin__brown"; //Коричневый скин
/*------------------------------------------------------*/
@import "ll-skin__grey-red"; //Серо-красный скин
/*------------------------------------------------------*/
@import "ll-toggle"; // Переключение между разными представлениями
/*------------------------------------------------------*/
@import "ll-user-page"; // Страница пользователя
/*------------------------------------------------------*/
@import "ll-vacancies"; // Вакансии
/*------------------------------------------------------*/
@import "ll-vacancy"; // Вакансия
/*------------------------------------------------------*/
@import "ll-vacancies_block"; // Блок вакансии 
/*------------------------------------------------------*/
@import "ll-why-buy-with-landlord"; // Зачем покупать с ЛЕНДЛОРД?
/*------------------------------------------------------*/
@import "ll-why-sell-with-landlord"; // Зачем продавать с ЛЕНДЛОРД?
/*------------------------------------------------------*/
@import "ll-why-rent-in-with-landlord"; // Зачем арендовать с ЛЕНДЛОРД?
/*------------------------------------------------------*/
@import "ll-why-rent-out-with-landlord"; // Зачем сдавать в аренду с ЛЕНДЛОРД?
/*------------------------------------------------------*/
@import "ll-why-documents-with-landlord"; // Зачем оформлять документы с ЛЕНДЛОРД?
/*------------------------------------------------------*/
@import "ll-visual-in-header"; // Визуал в начале страницы
/*------------------------------------------------------*/
@import "ll-rotateslider"; // Слайдер для страниц Награды и ОНас
/*------------------------------------------------------*/
@import "ll-about-about_our_company-block"; // Первый блок для страницы ОНас
/*------------------------------------------------------*/
@import "ll-about-our-partners"; // Блок "Наши партнеры" для страницы ОНас
/*------------------------------------------------------*/
@import "ll-about-press-center"; // Блок "Пресс центер" для страницы ОНас
/*------------------------------------------------------*/
@import "ll-about-awards"; //
/*------------------------------------------------------*/
@import "ll-tariffs-for-buyer"; //
/*------------------------------------------------------*/
@import "ll-tariffs-for-seller"; //
/*------------------------------------------------------*/
@import "ll-tariffs-for-tenant"; //
/*------------------------------------------------------*/
@import "ll-tariffs"; //
/*------------------------------------------------------*/
@import "ll-tariffs-for-owner"; //
/*------------------------------------------------------*/
@import "ll-services-discounts"; //
/*------------------------------------------------------*/
@import "ll-splitter"; //
/*------------------------------------------------------*/
@import "ll-services-video"; //
/*------------------------------------------------------*/
//@import "ll-vacancies-slider"; //
/*------------------------------------------------------*/
@import "ll-home-carousel"; //
/*------------------------------------------------------*/
@import "ll-headline-for-services-page"; // Заголовок на страницах услуг
/*------------------------------------------------------*/
@import "ll-career-about"; //
/*------------------------------------------------------*/
@import "ll-single-service"; // Стиль для текстового блока на страницах услуг
/*------------------------------------------------------*/
@import "ll-features"; // Стиль для текстового блока на страницах услуг
/*------------------------------------------------------*/
@import "ll-services-for-buyer"; //Услуги Покупателю
/*------------------------------------------------------*/
@import "ll-services-for-seller"; //Услуги Продавцу
/*------------------------------------------------------*/
@import "ll-services-for-tenant"; //Услуги Арендатору
/*------------------------------------------------------*/
@import "ll-services-for-owner"; //Услуги Арендодателю
/*------------------------------------------------------*/
//Медиа-запросы:
@import "_media-queries";




