.llg-wrapper-main__about-company {
	.col-md-8{
		padding-right: 0;
		padding-left: 0;
	}
	.col-md-12{
		padding-right: 0;
		padding-left: 0;
	}
	.col-md-4{
		padding-left: 13px;
		padding-right: 0;
	}
	@media (max-width: 980px) {
		.col-md-4{
			padding-right: 0;
			padding-left: 0;
		}	
	}	
}