.ll-awards{
	background-color: #E0E0E0;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    border-bottom: 0;
    font-size: 15px;
	margin-top: 13px;
}
.ll-awards-block-1{
	min-height: 400px;
}
.ll-awards-block-2{
	min-height: 350px;
}
.ll-awards-block-3{
	min-height: 300px;
}

.ll-awards .col-md-12{
	padding-right: 7px;
	padding-left: 7px;
}
.ll-awards .col-md-7, .ll-awards .col-md-5, .ll-awards .col-md-8, .ll-awards .col-md-4{
	padding-right: 7px;
	padding-left: 7px;
	bottom: 0px;
}
.ll-awards-block{
	background-color: #ffffff;
	padding: 20px;
}
.ll-vacancy-office_list {
	font-size: 18px;
}
.ll-vacancy-office_list h3{
	text-decoration: underline;
	text-decoration-color: #B72C2C;
}

