.ll-agent-contact-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

/* блочная таблица */
.ll-agent-contact-form-table {
  display: table;
  width: 100%;
  height: 100%;
}
/* ячейка блочной таблицы */
.ll-agent-contact-form-cell {
  display: table-cell;
  padding: 0 1em;
  vertical-align: middle;
  text-align: center;
}
/* модальный блок */
.ll-agent-contact-form-modal {
  display: inline-block;
  padding: 20px;
  /* максимально возможная ширина */
  max-width: 60em;
  background-color: @base_gray_color;
  /* внешняя тень блока */
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
  color: #cfd8dc;
  text-align: center;
  /* анимация и время задержки */
  -webkit-animation: fade .8s;
  -moz-animation: fade .8s;
  animation: fade .8s;

  .ll-agent-contact-form-h3{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
  }

  .close-modal {
    z-index: 9999;
    float: right;
    width: 30px;
    border-bottom: initial;
    height: 30px;
    color: @base_red_color;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    margin-top: 0;
    cursor: pointer;
  }
  .close-modal:after {
    display: block;
    border: 2px solid @base_red_color;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-decoration: none;
    color: @base_red_color;
    background-color: @base_gray_color;
    content: 'X';
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }
  /* кнопка закрытия при наведении */

  .close-modal:hover:after {
    border-color: @base_red_color;
    text-decoration: none;
    background-color: @base_red_color;
    color: #FFFFFF;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }


}

/* анимация при появлении затемнения и блоков с содержанием */
@-moz-keyframes fade {
  from { opacity: 0; }
  to { opacity: 1 }
}
@-webkit-keyframes fade {
  from { opacity: 0; }
  to { opacity: 1 }
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1 }
}

.animation_modal{
  -webkit-animation: fade .6s;
  -moz-animation: fade .6s;
  animation: fade .6s;
}




.ll-agent-contact-form__select-100 {
  padding: 6px 15px;
  width: 100%;
  margin-top: 5%;
  text-align: left;
  border: 1px solid #DDDDDD;
}
.ll-agent-contact-form__select-45-left {
  float: left;
  width: 49%;
  padding: 6px 15px;
  margin-top: 5%;
  text-align: left;
}
.ll-agent-contact-form__select-45-right{
  float: right;
  width: 49%;
  padding: 6px 15px;
  margin-top: 5%;
  text-align: left;
}

::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000;}



/*.ll-agent-contact-form-overlay-black{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #000000;
	z-index:1001;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}

.ll-agent-contact-form-content {
	display: none;
	position: fixed;
	top: 20%;
	left: 30%;
	width: 40%;
	padding: 20px;
	background-color: @base_gray_color;
	z-index:1002;
	overflow: auto;
}
.ll-agent-contact-form__select-100 {
  padding: 6px 15px;
  width: 100%;
  margin-top: 5%;
  text-align: left;
  border: 1px solid #DDDDDD;
}
.ll-agent-contact-form__select-45-left {
  float: left;
  width: 49%;
  padding: 6px 15px;
  margin-top: 5%;
  text-align: left;
}
.ll-agent-contact-form__select-45-right{
  float: right;
  width: 49%;
  padding: 6px 15px;
  margin-top: 5%;
  text-align: left;
}

::-webkit-input-placeholder {color:#000000;}*/
/*
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
/*
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
/*
:-ms-input-placeholder      {color:#000000;}*/