.ll-about-press-center{
  margin: 2.3em;
  height: 375px;
 // overflow: hidden;

}

.ll-about-press-center-map-50{
  margin: 0;
  padding: 0;
  width: 49.5%;
  height: 375px;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
}
.ll-about-press-center-map-row_50{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 180px;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.1em;
}

.gray-background{
  background-color: #6d7b7c;
}

.ll-press-center-row-block{
  width: 46%;
  float: left;
  margin:0;
  height: 100%;
  margin-left: 15px;
  padding: 0;
  display: block;
  position: relative;
  h4{
    text-align: center;

  }
  h5{
    text-align: center;
  }
}

.press-center-row_txt{
  margin-top: 1.1em;
  padding: 0 20px;
  text-align: justify;
  color: #ffffff;
  overflow: hidden;
  height: 115px;
}
.white-text{
  color: #FFFFFF;
}

.press-center-map-img {
  height: 70%;
  float: left;
  width: 100%;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

.img-bottom_layer {
  height: 30%;
  display: block;
  background-color:#6d7b7c;
  position: relative;
  padding: 3%;
  float: left;
  width: 100%;


  a {
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 12px 20px;
    display: block;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 4%;
    width: 60%;
    float: none;
  }
  h5 {
    margin: 0 auto;
    text-align: center;
    padding-top: 11px;
    color: #FFFFFF;
  }
}



@media screen and (max-width: 1000px){
  .ll-press-center-row-block{
    width: 45%;
    float: left;
    margin:0;
    height: 100%;
    margin-left: 1.1em;
    padding: 0;
    display: block;
    position: relative;
    h4{
      text-align: center;

    }
    h5{
      text-align: center;
    }
  }
}


@media screen and (max-width: 990px){
  .ll-about-press-center-map-50 {
    margin: 0;
    padding: 0;
    width: 49.5%;
    height: 320px;
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
  }

  .press-center-map-img {
    height: 60%;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .img-bottom_layer {
    height: 40%;
    display: block;
    background-color: #6d7b7c;
    position: relative;
    padding: 3%;
    float: left;
    width: 100%;
    a {
      text-align: center;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      padding: 12px 20px;
      display: block;
      position: relative;
      margin: 0 auto;
      vertical-align: middle;
      margin-top: 10%;
      width: 80%;
      float: none;
    }
  }

  .ll-about-press-center-map-row_50 {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 153px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.1em;
  }
  .press-center-row_txt {
    margin-top: 0;
    padding: 0 20px;
    text-align: justify;
    color: #ffffff;
    overflow: hidden;
    height: 95px;
  }

}

@media screen and (max-width: 870px){
  .ll-about-press-center {
    margin: 2.3em;
    height: auto;
  }
  .ll-about-press-center-map-50 {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    height: 340px;
    display: block;
    float: none;
    position: relative;
    overflow: hidden;
  }
  .ll-about-press-center-map-50:last-child {
    margin-top: 1.23em;
  }
  .press-center-map-img {
    height: 70%;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .img-bottom_layer {
    height: 30%;
    display: block;
    background-color: #6d7b7c;
    position: relative;
    padding: 3%;
    float: left;
    width: 100%;
    a {
      text-align: center;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      padding: 12px 20px;
      display: block;
      position: relative;
      margin: 0 auto;
      vertical-align: middle;
      margin-top: 2.5%;
      width: 80%;
      float: none;
    }
  }

  .ll-about-press-center-map-row_50 {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 153px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.1em;
  }

  .ll-press-center-row-block {
    width: 48%;
    float: left;
    margin: 0;
    height: 100%;
    margin-left: 1.1em;
    padding: 0;
    display: block;
    position: relative;
  }
  .ll-press-center-row-block:nth-child(2n+1) {
    margin-left: 0;
  }

  .ll-press-center-row-block:nth-child(2n) {
    float: right;
  }





}

@media screen and (max-width: 600px){
  .ll-about-press-center-map-50 {
    padding: 0;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    float: none;
    position: relative;
    overflow: hidden;
  }

  .ll-about-press-center-map-50:last-child {
    margin-top: 1em;
  }

  .press-center-map-img {
    height: auto;
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .img-bottom_layer {
    height: 30%;
    display: block;
    background-color: #6d7b7c;
    position: relative;
    padding: 3%;
    float: left;
    width: 100%;
  }

  .ll-about-press-center-map-row_50 {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.23em;
  }

  .ll-press-center-row-block {
    width: 100%;
    float: none;
    margin: 0 auto;
    height: 280px;
    display: block;
    position: relative;
  }

  .ll-press-center-row-block:nth-child(2n+1) {
    margin-left: 0;
  }

  .ll-press-center-row-block h4 {
    text-align: center;
    padding-top: 1.23em;
  }

  .press-center-row_txt {
    margin-top: 1.23em;
    padding: 0 20px;
    text-align: justify;
    color: #ffffff;
    overflow: hidden;
    height: auto;
  }
  .ll-press-center-row-block:nth-child(2n) {
    margin-top: 20px;
  }

}