.ll-about-about-our-company-block {
  font-size: @base_font_size;
  background: #ffffff;
  padding: 2.5em;
  margin-bottom: 50px;
  h2 {
    margin-top: 0;
  }
  p {
    text-indent: 20px;
//    font-size: 16px;
  }
}


	@media (max-width: 980px) {
		.ll-about-about-our-company-block {
			  margin-bottom: 13px;
		}	
	}	


