.ll-agents-grid  {
  .mixin__bordered (#DDDDDD);
  .mixin__float-left;
  overflow: hidden;
  padding: 0px;
  margin: 10px;
  overflow: hidden;
  width: 100%;
  min-width: 350px;
  display: inline-block;
}

.ll-agents-grid-info {
  width:49%;
  height: 100%;
  display: inline-block;
  float: right;
  padding-bottom: 20px;
}

.ll-agents-grid-photo{
  width:49%;
  display: inline-block;
  float: left;
  height: 350px;
    img {
      width: 100%;
      height: auto;
    }
}
//-----Media query for width 1010px ------//
@media screen and (max-width: 992px){
  .ll-agents-grid-photo{
    width:49%;
    display: inline-block;
    float: left;
    height: 350px;
    img {
      width: 70%;
      height: auto;
    }
  }
}
//-----end 1010 px ---------//

//-----
@media screen and (max-width: 590px){
  .ll-agents-grid-photo{
    width:49%;
    display: inline-block;
    float: left;
    height: 350px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
//--------------------end---------//
@media screen and (max-width: 382px){
  .ll-agents-grid  {
    .mixin__bordered (#DDDDDD);
    .mixin__float-left;
    overflow: hidden;
    padding: 0px;
    margin: 10px;
    overflow: hidden;
    width: 100%;
    min-width: inherit;
    display: inline-block;
  }

}


//----------------------------------------//
.ll-agents-grid-name {
  width: 100%;
  height: auto;
  background-color: #a7a7a7;
  font-size: 16px;
  text-align: center;
  padding: 5% 0 5% 0;
}

.ll-agents-grid-name a{
  color: #FFFFFF !important;
  font-size: 16px;
}

.ll-agents-grid-contacts {
  color: #000000;
  font-size: 16px;
  margin-top: 20px;
  a {
    color: #000000;
    font-size: 16px;
  }
  i {
    color: #a7a7a7;
    margin-right: 10px;
  }
  li {
	margin-top: 20px;
	}
}
 .ll-agents-grid  hr {
    border: none; 
    background-color: #DDDDDD; 
    color: #DDDDDD; 
    height: 1px; 
   }
.ll-agents-grid-social-buttons{
	/*margin-top: 20px;*/
	margin-left: 20px;
	margin-right: auto;
	text-align: center;
  i{
	width: 30px;
    height: 30px;
    color: #AAAAAA;
    background-color: transparent;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
  }
  li {
    display: block;
    float: left;
    margin: 2px;
    width: 15%;	
  }
}
.llg-wrapper-main__agents {
    .col-md-7 {
		float: left;
	}
}
