.ll-analytics {
  h2 {
    background: #FFFFFF;
    margin:0;
    padding:40px;
  }
}
.ll-analytics-bg{
	width: 100%;
	//background-color: #E6E4E4;
}
.ll-analytics-main_block{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;	
}
.ll-analytics-top_bottom__block{
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;	
}
.ll-analytics-top_bottom__block select{
	display: inline-block;
}
.ll-analytics-type{
	width: 150px;
	margin: 30px 25px 30px 25px;
}
.ll-analytics-X, .ll-analytics-Y, .ll-analytics-Z{
	width: 100px;
	margin: 30px 25px 30px 25px;
}
.ll-analytics-year_end, .ll-analytics-year_start{
		width: 100px;
		margin: 30px 0 30px 0;
}
.ll-analytics-year_start{
		margin-left: 25px;
}
.ll-analytics-year_end{
		margin-right: 35px;
}
.ll-analytics-object_type, .ll-analytics-city{
		width: 150px;
		margin: 30px 25px 30px 25px;
}
.ll-analytics-left_column{
	background-color: #fff;	
	height:600px;
	margin: 20px 0 20px 0;
	padding: 20px;	
}
.ll-analytics-text{
	font-size: 18px;
	margin-top: 20px;	
}
#ct-chart-line{
	background-color: #fff;	
	height:600px;
	margin: 20px 0 20px 0;	
}
.ll-analytics-table_header {
	width: 100%;
	margin-bottom: 20px;	
}
.ll-analytics-table_header th{
	border-bottom: 1px solid #dddddd;
	padding: 10px 20px 10px 20px;	
	font-size: 16px;
	text-align: center;
}
.ll-analytics-table_header .active{
	border-bottom: 2px solid @base_red_color;
}
.ll-analytics-table, .ll-analytics-table th{
	border: 1px solid #dddddd;
}
.ll-analytics-table td, .ll-analytics-table th{
	padding: 15px;
}