.ll-agent-card {
  display: block;
  float: left;
  padding: 0px;
  margin: 20px 10px 20px 10px;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  background-color: @base_gray_color;
}
.ll-agent-card-header {
  width: 70%;
  height: 70px;
  display: inline-block;
  padding: 20px;
  float: right;
  border-bottom: 1px solid #ddd;
}
.ll-agent-card-info{
	width: 40%;
	float: right;
	padding: 20px;
}
.ll-agent-card-contact {
  width: 30%;
  height: 100%;
  display: inline-block;
  float: right;
  padding: 20px;
  border-left: 1px solid #ddd;
}
.ll-agent-card-photo {
  width: 30%;
  display: inline-block;
  float: left;
}

.ll-agent-card-photo img {
  width: 100%;
  height: auto;
}
.ll-agent-card-name {
  width: 60%;
  display: inline-block;
  float: left;
}

.ll-agent-card-contact-me {
  width: 100%;
  height: 50px;
  background-color: @base_red_color;
  font-size: 16px;
  text-align: center;
  padding: 5% 0 5% 0;
}

.ll-agent-card-contact-me a {
  color: #FFFFFF;
  font-size: 16px;
}
.ll-agent-card-links {
  color: #000000;
  font-size: 16px;
  margin-top: 20px;
}
.ll-agent-card-links a {
  color: #000000;
  font-size: 16px;
}
.ll-agent-card-links i {
  color: @base_red_color;
}

.ll-agent-card-social-buttons {
  width: 40%;
  float: right;
}
.ll-agent-card-social-buttons i {
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: @base_red_color;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
}
.ll-agent-card-social-buttons li {
  display: block;
  margin: 2px;
  float: right;
}