.ll-about-awards {
  margin-top: 13px;
  margin-bottom: 13px;
  padding:25px;
  background: #FFFFFF;
  font-size: @base_font_size;
  h2  {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  h2 {
    color:#B40101;
    font-size:18px;
    letter-spacing:0;
    font-weight: bold;
  }
}