.ll-agents-specialization{
  margin: 0;
  display: block;
  position: relative;
h2{
  margin: 1.5em auto;
}
}

.ll-search-agents-by-specialization{
  border: 2px solid #D5D5D5;
  display: block;
  position: relative;

}
.ll-search-agents-by-specialization-title{
  display: block;
  width: 100%;
  // height: 30px;
  margin:0;
  background-color: @base_gray_color;
  border-bottom: 2px solid #d5d5d5;
h3{
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom:20px;
}
}

.ll-search-agents-form{
  width: 100%;
  margin: 0;
  display: block;
  padding: 2em;
  overflow: hidden;
}

.ll-search-agents-form-buttons{
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  width: 80%;
}
.ll-search-agents-form-input-check
{
  display: inline-block;
  width: 23%;
  float: left;
  min-width: 40px;

  label{
    display: inline-block;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 7px;
    height: 35px;
    padding-left: 2em;
    width: 80%;
    font-size: 16px;
    color: #5e6868;
  }
}

.ll-search-agents-form-search_button{
  display: inline-block;
  width: 20%;
  float: left;
  a{
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
}