.ll-about-our-partners{
  margin: 0;
  overflow: hidden;
}

.ll-about-our-partners-photo_block{
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  img{
    margin-right: 20px;
  }

   img:last-child{margin-right: 0;}
}