.ll-agents-sorting {
  .mixin__float-right;
  margin: 0 0 20px 0;
  overflow: hidden;
  vertical-align: middle;
  label {
    .mixin__float-left;
    line-height: 35px;
    white-space: nowrap;
  }
  select {
    .mixin__float-left;
    margin: 0 0 0 10px;
  }
}