.ll-buy-advices {
  padding: 31px 20px 20px 20px;
  font-size: @base_font_size;
  .col-md-6 {
    padding: 0;
  }
  h2{
    padding-left: 20px;
  }
  .mixin__red-link;
}
.ll-buy_advices-features {
  margin-bottom: 5px;
  padding-left:0;
}
@media (max-width: 820px) {
  .ll-buy-advices {

    h2 {
      font-size: 26px;
    }
  }

}
@media (max-width: 980px) {
      .ll-buy-advices-indents{
        padding-right: 0;
        padding-left: 0;
        .col-md-4{
            padding-right: 0;
            padding-left: 0;
        }
      }
}
	
@media (max-width: 720px) {
  .ll-buy-advices {

    h2 {
      font-size: 24px;
    }
  }

  .ll-buy_advices-features{
    padding: 0;
    h3 {
      padding-top: 20px;
      font-size: 20.5px;
    }
  }

}

.ll-buy-advices-indents{
  padding-right: 0;
}

.ll-buy_advices-header {
  background: url('../images/visuals/career.jpg') no-repeat center top;
  height: 525px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}
.ll-buy_advices-header-h1 {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 100px;
  margin-top: 50px;
  text-align: right;
}

.ll-buy_advices-features img {
  width: 55px;
  height: 55px;
  margin-right:10px;
}
.ll-buy_advices-features td {
  vertical-align: top;
  padding: 20px 10px 11px 0px;
  h3 {
    margin-top: 0;
    font-size: 23px;
  }
}
.ll-buy_advices-features p {
  margin-top: 20px;
}

.ll-buy-advices-two{
  margin-top:4px;
  padding: 0;
  h2 {
    margin: 20px 0 30px 0;
//    padding: 0;
  }
}
.ll-buy_advices-content{
.col-md-4{
	padding-right: 0;
}
} 
@media (max-width: 980px) {
.ll-buy_advices-content{
.col-md-4{
	padding-left: 0;
}
} 
}

@media (max-width: 420px) {
  .ll-buy_advices-features{
    padding: 0;
    h3 {
      padding-top: 20px;
      font-size: 17.5px;
    }
  }

}
.ll-buy-advices-two .ll-buy-advices-indents{
	display: none;
	}
@media (max-width: 980px) {
	.ll-buy-advices-one .ll-buy-advices-indents{
	display: none;
	}
.ll-buy-advices-two .ll-buy-advices-indents{
	display: block;
	}
}
