.ll-copyright {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  line-height: 22px;
  text-align: center;
  position: relative;
}