.ll-career-description {
  background: #FFFFFF;
  overflow: hidden;
  padding: 20px;
  h2 {
    border-bottom: 2px solid @base_red_color;
    padding-bottom:10px;
    display: inline-block;
    font-size:1.5em;
  }
}
.ll-career-find_job-button {
    background-color: #B41A1A;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    color: #ffffff;
}
.ll-career-find_job-button:hover {
  color: #ffffff;
}
.ll-career-find_job-button:active {
  color: #ffffff;
}
.ll-career-find_job-button:visited {
  color: #ffffff;
}
.ll-career{
	margin-left: 15px;
	margin-right: 15px;
}
.llg-wrapper-main__career{
	.col-md-4{
		padding-left: 0;	
	}
	@media (max-width: 980px) {
		.col-md-4{
			padding-right: 15px;
			padding-left: 15px;
		}
	}
}