.ll-career-about {
  min-height: 446px;
  background: #ffffff;
  padding: 50px 70px;
  font-size: @base_font_size;
  h2 {
    margin: 0 0 30px 0;
  }
  p {
    text-indent: 20px;
    line-height: 34px;
    font-size: 18px;
  }
}



