.ll-company-news-page{
	.ll-company-news-page__header{
		width: 100%;
		height: 500px;
		padding-right: 20px;
	}
	.ll-company-news-page__date p{
		color: #808080;
		font-size: 16px;
	}
	.ll-company-news-page__text p{
		font-size: 24px;
		padding-top: 24px;
	}
	.ll-company-news-page__photo{
		bottom: 0;
		width: 60%;
		height: 90%;
		float: left;
		overflow: hidden;
	}
	.ll-company-news-page__photo img{
		height: 100%;
	}
	.ll-company-news-page__date{
		height: 10%;
		width: 60%;
		padding: 20px;
	}
	.ll-company-news-page__share{
		bottom: 0;
		width: 40%;
		height: 100%;
		float: right;	
	}

	.ll-company-news-page__social-buttons {
		width: 100%;
		padding: 30px 0;
		text-align: right;
		
	li  {
		  display: block;
		  float: right;
		  margin: 0 2px 0 0;
		}
		
	p  {
	  color: #808080;
	  font-size: 20px;
	  margin: 20px 10px 10px 20px;
	}

	i {
	  width: 40px;
	  color: #808080;
	  font-size: 20px;
	  text-align: center;
	}
	}
	
	.ll-company-news-page__subscription{
		width: 100%;
	}
	.ll-company-news-page__form{
		margin: 5%;
		padding: 20px;
		border: solid 1px @base_gray_color; 
		margin-bottom: 20px;
	}
	.ll-company-news-page__form p{
		margin: 20px;
		font-size: 15px;
		color: #808080;
	}
	.ll-company-news-page__form-input{
		width: 100%;
		height: 40px;
		padding: 10px; 
	}
	.ll-company-news-page__search{
		width: 100%; // Ширина поля с кнопкой
	}
	.ll-company-news-page__search input {
	  width: 70%;
	  height: 40px;
	  padding: 10px; 
	  background-image: url('../images/interface/search.png'), -moz-linear-gradient(#FFF, #FFF);
	  background-repeat: no-repeat; 
	  background-position: 100% 50%, 50% 50%;
	  border: 1px solid @base_gray_color;
	  float: right;
	}
}

	/*------------------------------------------------------*/

	.ll-company-news-page__carousel{
		width: 100%;
		padding: 20px;
		background: #f1f1f1;
		border: solid 1px #dddddd;
	}
	.ll-company-news-page__carousel-img{
		width: 100%;
		height: 70%;
		overflow:hidden; 
	}
	.ll-company-news-page__carousel-img img{
		height: 100%;
	}
	.ll-company-news-page__carousel a:hover{
		color: #8D8D8E;
	}
	.ll-company-news-page__carousel a:focus{
		color: #8D8D8E;
	}
	.company-news-page-carousel .item{
		width: 80%;
		margin-left: 10%;
		/*right: 10%;*/
	}
	.company-news-page-carousel-control-right{
		position: absolute;
		top:35%;
		right: 10px;
		font-size: 5em;	
		color: #8D8D8E; 
	}
	.company-news-page-carousel-control-left{
		position: absolute;
		top:35%;
		left: 10px;
		font-size: 5em;	
		color: #8D8D8E; 
	}
	.ll-company-news-page__carousel-item{
		width: 29%;
		margin: 2%;
		margin-top: 1%;
		padding: 10px;
		height: 300px;
		display: inline;
		float: left;
		background: #ffffff;
		border: solid 1px #dddddd;
	}
	/*-----------------Комментарии----------------------------*/
	.ll-company-news-page__comments-header{
	width: 100%;	
	margin-top: 50px;	
	height: 55px;	
	border-bottom: 1px solid #808080;
	}
	.ll-company-news-page__comments-count{
	float: left;
	}
	.ll-company-news-page__comments-sort{

	float: right;
	text-align: right;
	}
	.ll-company-news-page__comment-add{
	width: 100%;	
	margin-top: 50px;
	height: 100px;
	position: relative;
	}
	.ll-company-news-page__comment-add-avatar {
	float: left;
	width: 10%;	
	height: 100px;
	overflow: hidden;
	}
	.ll-company-news-page__comment-add-massage {
	float: right;
	width: 85%;	
	margin-left: 5%	
	}
	.ll-company-news-page__comment-add-avatar img{
	width: 100%;	

	}
	.ll-company-news-page__comment-add-massage textarea{
	width: 100%;	
	}

	.ll-company-news-page__comment{
	width: 100%;	
	margin-top: 50px;
	height: 100px;
	position: relative;
	}
	.ll-company-news-page__comment-avatar {
	float: left;
	width: 10%;	
	height: 100px;
	overflow: hidden;
	}
	.ll-company-news-page__comment-massage {
	float: right;
	width: 85%;	
	margin-left: 5%	
	}
	.ll-company-news-page__comment-avatar img{
	width: 100%;	
	}