.ll-clients {
}
.ll-clients__title{
  margin-top: 3em;
  margin-bottom: 3em;
}


//---- comment node ----////

.ll-clients__note{
  width: 90%;
  overflow: hidden;
  position: relative;
  margin: 1.5em auto;
  border: 1px solid @base_light-gray_color;
  min-height: 200px!important;
}


.ll-clients__avatar {
  position: absolute;
  bottom: 0;
  border: 1px solid @base_light-gray_color;
  border-left: 0px;
  border-bottom: 0px;
  border-top: 0px;
  background-color: #FDFDFD;
  width: 20%!important;
  min-width: 100px!important;
  text-align: center;
  min-height: 150px!important;
  height: 100%;
  float: left;
  p {
    text-align: center;
  }

}
.client-avatar {
  display: block;
  position: relative;
  width: 100px !important;
  height: 100px !important;
  background-color: transparent;
  margin: 1.5em auto;
  text-align: center;
}
.img_avatar{
  height: 100%;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #EFEFEF;
}

.ll-clients__client-name{
  font-size: 16px;
  font-weight: 500;
  vertical-align: middle;
  margin: 0 auto;
  float: left;
  width: 100%;
  word-wrap: break-word;
  line-height: 18px;
  margin-bottom: 0.7em;
  padding: 0 10px;
}

//--- Media query only for class client_name ----//
@media screen and (max-width: 740px){
  .ll-clients__client-name{
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 auto;
    float: left;
    width: 100%;
    line-height: 18px;
    word-wrap: break-word;
    margin-bottom: 0.7em;
    padding: 0 10px;
  }
}
//----------------------------------------------//

.ll-clients__avatar:after, .ll-clients__avatar:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ll-clients__avatar:after {
  border-color: rgba(248, 249, 248, 0);
  border-left-color: #FDFDFD;
  border-width: 17px;
  margin-top: -17px;
}

.ll-clients__avatar:before {
  border-color: rgba(207, 214, 213, 0);
  border-left-color: @base_light-gray_color;
  border-width: 19px;
  margin-top: -19px;
}

.client_note-body{
  width: 80%!important;
  overflow: hidden;
  display: block;
  float: right!important;
  position: relative


}

.client_note-data{
  width:100%;
  float: left;
  overflow: hidden;
  display: block;
  position: relative;
  background-color: #FDFDFD;
  padding: 0.5em;
  padding-left: 20px;
  max-height: 2.1em;
  border-bottom: 1px solid @base_light-gray_color;
 font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  vertical-align: middle;
}

.note-data{
  display: inline-block;
 // margin: 5px 0;
  //text-transform: uppercase;
}

  .client_note-data_xs{
  display: none;
}

.note_text{
  display: block;
  float: left;
  padding: 30px ;
  font-size: 16px;
  line-height: 1.8em;
  color: #000;
  font-weight: 400;
}


//------------------ MIN Width 680px go to transform ------//

@media screen and (max-width: 640px){

  .ll-clients__note
  {
    width: 100%;
  }

  .client-avatar {
    display: block;
    position: relative;
    width: 120px !important;
    height: 120px !important;
    float: left;
    background-color: transparent;
    margin: 1.1em 0px 1.1em 1.5em;
    text-align: center;
  }

  .ll-clients__avatar {
    position: relative;
    border: 1px solid @base_light-gray_color;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: #FDFDFD;
    width: 100%!important;
    min-width: 100px!important;
    text-align: center;
    min-height: 150px!important;
    height: 100%;
    float: left;

  }

  .ll-clients__avatar:after, .ll-clients__avatar:before {
    left: 50%;
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .ll-clients__avatar:after {
    border-color: rgba(248, 249, 248, 0);
    border-top-color: #FDFDFD;
    border-width: 17px;
    margin-left: -17px;
    margin-top: 0;
  }

  .ll-clients__avatar:before {
    border-color: rgba(207, 214, 213, 0);
    border-top-color: @base_light-gray_color;
    border-width: 19px;
    margin-left: -19px;
    margin-top: 0;
  }

  .client_note-body {
    width: 100%!important;
  }

  .note_text {
    text-align: center;
  }

  .ll-clients__client-name {
    font-size: 16px;
    float: left;
    width: 70%;
    font-weight: 500;
    vertical-align: middle;
    line-height: 24px;
    margin-bottom: 0.7em;
    padding: 0 10px;
    padding-top: 45px;
  }


  .client_note-data {
 display: none;
  }

  .client_note-data_xs {
    position: relative;
    display: block;
    float: left;
    width: 70%;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
  }

}

@media screen and (max-width: 540px){
  .ll-clients__client-name {
    font-size: 16px;
    float: left;
    width: 60%;
    font-weight: 500;
    vertical-align: middle;
    line-height: 24px;
    margin-bottom: 0.7em;
    padding-top: 45px;
  }

  .client-avatar {
    display: block;
    position: relative;
    width: 100px !important;
    height: 100px !important;
    float: left;
    background-color: transparent;
    margin: 1.1em 0px 1.1em 1.5em;
    text-align: center;
  }
}

@media screen and (max-width: 410px){
  .ll-clients__client-name {
    font-size: 16px;
    float: left;
    width: 50%;
    font-weight: 500;
    vertical-align: middle;
    line-height: 24px;
    margin-bottom: 0.7em;
    padding-top: 45px;
  }
}



