.ll-download-mobile-application {
  position: absolute;
  bottom: 0%;
  height:60px;
  color: #FFFFFF;
  padding-top:10px;
  background: rgba(40,40,40,0.7);
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-stretch: ultra-expanded; // inherit | ultra-condensed | extra-condensed | condensed | semi-condensed | normal | semi-expanded | expanded | extra-expanded | ultra-expanded
  img {
    height: 42px;
    width: auto;
  }
  a {
    color:#FFFFFF !important;
    margin-right: 10px;
  }
}


.ll-download-mobile-application-button{
  display: inline;

}

.ll-download-mobile-application-title{
  display: inline;
}

@media screen and(max-width: 564px) {
  .ll-download-mobile-application {
    position: absolute;
    bottom: 0%;
    height: auto;
    color: #FFFFFF;
    padding-top:10px;
    background: rgba(40,40,40,0.7);
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-stretch: ultra-expanded; // inherit | ultra-condensed | extra-condensed | condensed | semi-condensed | normal | semi-expanded | expanded | extra-expanded | ultra-expanded
    img {
      height: 42px;
      width: auto;
    }
    a {
      color:#FFFFFF !important;
      margin-right: 10px;
    }
  }

  .ll-download-mobile-application-button{
    display: block;
    float: none;
    text-align: center;
    margin: 10px auto;
  }

}

@media screen and(max-width: 380px) {

  .ll-download-mobile-application-button{
    display: block;
    float: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .ll-download-mobile-application-title{
    display: none;
  }

}