@ll-estate-info__wide-column:60%;
@ll-estate-info__column-margin:1%;
//-------------------------------------
.ll-estate-info {}
.ll-estate-info__header {
  clear: both;
  overflow: hidden;
  width: 100%;
  padding:10px 0 0 0;
}
.ll-estate-info__header-text {
  .mixin__float-left;
  width:@ll-estate-info__wide-column;
  text-align: center;
}
.ll-estate-info__title {
  font-size: @base_font_size + 2;
}
.ll-estate-info__address {
  font-size: @base_font_size + 1;
}
.ll-estate-info__prices {
  .mixin__float-left;
  width:100% - @ll-estate-info__wide-column;
}
.ll-estate-info__new-price {
  .mixin__bordered (@base_red_color);
  .mixin__base-padding;
  .mixin__float-right;
  clear: right;
}
.ll-estate-info__old-price {
  .mixin__bordered (@base_red_color);
  .mixin__base-padding;
  .mixin__float-right;
  clear: right;
  background-color: #FFFFFF;
  background-image: url('../images/interface/bg-strike-through.png');
  background-position: center center;
  background-repeat: no-repeat;
//  background-size: auto 100%;
}
.ll-estate-info_favorites   {
	width: 100%;
}
.ll-estate-info__date-of-publication {
  font-size: @base_font_size - 2;
}
.ll-estate-info__card {
  clear: both;
  overflow: hidden;
  width: 100%;
  padding:10px 0 0 0;
}
.ll-estate-info__image {
  .mixin__bordered (#DDDDDD);
  .mixin__float-left;
  .mixin__base-padding;
  width:@ll-estate-info__wide-column;
  margin:0 @ll-estate-info__column-margin 0 0;
}
.ll-estate-info__main-image {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}
.ll-estate-info__slider {}
.ll-estate-info__parameters {
  .mixin__bordered (#DDDDDD);
  .mixin__float-right;
  .mixin__base-padding;
  width:100% - @ll-estate-info__wide-column - @ll-estate-info__column-margin;
}
.ll-estate-info__agent {
  .mixin__bordered (#DDDDDD);
  .mixin__float-right;
  .mixin__base-padding;
  width:100% - @ll-estate-info__wide-column - @ll-estate-info__column-margin;
  margin:10px 0 0 0;
}
.ll-estate-info__agent-phone {
  .mixin__float-left;
}
.ll-estate-info__agent-photo {
  .mixin__float-right;
  width: 40%;
  img {
    width:100%;
    height: auto;
  }
}
.ll-estate-info__description {
  .mixin__bordered (#DDDDDD);
  margin:20px 0 0 0;
  clear:both;
  overflow: hidden;
}
.ll-estate-info__description-title {
  .mixin__base-padding;
  background: #F5F5F6;
  border-bottom:1px solid #DDDDDD;
  color: @base_red_color;
}
.ll-estate-info__description-content {
  .mixin__base-padding;
}

.ll-estate-info__map_favorites{
  font-size: 16px;	
  display: block;
  float: right;
  width: 39%;
  margin-bottom: 20px;
}
.ll-estate-info__map_favorites a{
color: #000000;
}

.ll-estate-info__agent-button{
  background-color: #ba1825;
  border: none;
  color: #FFFFFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10%;
}
.llg-button__buy-button {
  background-color: #ba1825;
  border: none;
  color: #FFFFFF;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}
.ll-estate-info-agent-social-buttons li {
    display: block;
    float: left;
    margin: 0 2px 0 0;
}

.ll-estate-info-agent-social-buttons {
    display: block;
    float: right;
    padding: 30px 0;
}
.ll-estate-info-agent-social-buttons i {
  width: 40px;
  color: gray;
  font-size: 20px;
  text-align: center;
}

.ll-estate-info__buy-block{
  display: block;
  float: right;
  width: 39%;
}
/*Контактная форма*/
.ll-estate-info .ll-agent-contact-form-content{
top: 200px;	
}
.ll-estate-info_favorites   {
	width: 100%;
}