//  ----------- Нужно переделать в БЭМ -----------
.holder {
	margin: 15px 0;
}

.holder a {
	cursor: pointer;
	margin: 0 5px;
}

  ul.thumbs { list-style: none; margin: 0px; padding:0px; margin-top: 10px; }
  ul.thumbs li { float: left; margin-right: 10px; cursor:pointer; }
  ul.thumbs li img { width: 100px; vertical-align: top; }
  ul.thumbs li.selected { opacity: 0.6; }

  div#img img {height: 400px;}

  div#btns{ position:relative; width: 100%; }
  .prev, .next { position: absolute; top: -50px; cursor: pointer; }
  .prev { left: 40px; }
  .next { right: 40px; }

  .jp-disabled{ display:none; }
  
  .holder {
	margin-top: 30px;
	padding: 0%;
}

ul.thumbs {

        margin-top: 10px;
        margin-right: 65px;
        margin-bottom: 0px;
        margin-left: 65px;
}

.thumbs img {
    height: auto;
    min-height: 100px;
    max-height: 150px;
    object-fit: cover;
}
