.ll-estate-on-map {
  .mixin__bordered (#DDDDDD);
  margin:50px 0 0 0;
  iframe {
    width: 100%;
    height: 300px;
    border: none;
  }
}

.ll-estate-on-map__title {
  .mixin__base-padding;
  background: #F5F5F6;
  color: @base_red_color;
  border-bottom:1px solid #DDDDDD;
}
.ll-estate-on-map__content {
}