.ll-footer-seo-links {
  overflow: hidden;
  text-align: center;
  padding:30px 25px 0 25px;

  li{
    display : inline-block;
    margin-bottom: 3px;
  }
  a{
    color: #353535;
  }
  ul>li + li:before{
    content: "|";
  }
}
