.ll-footer-login {
    display: block;
    float: left;
    padding: 15px 0;

	ul li{
		display: inline;
		margin: 0 2px;
	}

	.form-control {
		display: inline-block;
		width: 100px;
		height: 25px;
		padding: 4px 12px;
		font-size: 14px;
		border: 1px solid @base_dark_gray_color;
		border-radius: 0;
	}
	input[type="submit"] {
		background-color: @base_red_color;
		display: inline-block;
		width: 70px;
		height: 25px;
		padding: 4px 12px;
		font-size: 12px;
		color: #ffffff;
	}
	a {
		text-decoration: underline;
		white-space:nowrap;
	}
	a:hover, a:focus {
		text-decoration: underline;
		color: @base_dark_gray_color;
	}

	.col-md-offset-4 {
		margin-left: 0;
	}
	.col-md-4 {
		width: 60%;
		position: absolute;
		top: -80px;
	}
}