.ll-features {
  background-color: #ffffff;
  padding: 20px;
  font-size: @base_font_size;
}
.ll-features__item {
  margin-left: 15px;
  margin-right: 15px;
  
  img {
    width: 200px;
    height: 80px;
  }
  td {
    vertical-align: top;
    padding: 20px 10px 10px 10px;
    h3 {
      margin-top: 0;
    }
  }
    p {
      margin-top: 10px;
    }
}