/* .formtable используется в callform.blade и app.blade */
.formtable  {
    width: 100%;
    margin-top:10%;
}

.formtable  TD, TH {
    padding: 7px; /* Поля вокруг текста */
    border: 1px solid #fff; /* Рамка вокруг ячеек */
}

.formtable  input[type=text] {
    width: 100%;
    padding: 10px 10px;
    text-decoration: none;
}

.formtable  caption {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5%;
}