.ll-home-news-variant-1 {
  padding: 50px  60px 12px 60px;
  cursor: pointer;
  .col-md-4 {
    padding: 0 25px;
  }
  h4 a {
    color:#000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }
  li {
    font-size: 14px;
    margin: 16px 0 16px 0;
  }
}
.ll-home-news-variant-1__block {
  position: relative;
  display: block;
  min-height: 270px;
  height: auto;
  box-sizing: border-box;
  color:#8c8c8c;
  font-size:12.5px;
  .mixin__bordered(#DDDDDD);
  p {
    padding: 10px 0 15px 0;
  }
  p:first-child {
    text-align: center;
    padding:0;
  }
  strong {
    color:#333333;
    font-size:17.5px;
    text-align: center;
    display: inline-block;
    padding: 10px 0 0 0;
  }
  img {
    width: 100%;
    opacity:0.9;
    -webkit-filter: saturate(30%);
    filter: saturate(30%);
    margin: 0 0 10px 0;
  }
  img:hover {
    opacity:1;
    -webkit-filter: saturate(110%);
    filter: saturate(100%);

  }
}
.ll-home-news-variant-1__block:hover {
  border-color: #BBBBBB;
//  box-shadow:rgba(0, 0, 0, 0.2) 0 6px 10px 2px;
}
.ll-home-news-variant-1__more {
  background: #B72C2C;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
  float: right;
  margin: 10px 10px 0 0 ;
  display:none;
}
.ll-home-news-variant-1__photo {
  overflow: hidden;
  width: 100%;
  height: auto;
  float: left;
  margin: 0 20px 0 0;
}
.ll-home-news-variant-1__news-text {
  padding: 15px 15px 0 15px;
}