.ll-headline-for-services-page{
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 30px 0 30px 0;
  background-color: #f8f8f8;
  border-left: 2px solid @base_red_color;
  h1{
    color: @base_red_color;
    padding: 10px 10px 10px 50px;
    font-size:2.2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}