.ll-home-news-variant-2 {
  padding: 30px  60px 6px 60px;
  cursor: pointer;
  h4 a {
    color:#000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }
  li {
    font-size: 14px;
    margin: 16px 0 16px 0;
  }
  .col-md-4 {
    .mixin__bordered (#FFFFFF);
  }
  .col-md-4:hover {
    .mixin__bordered (#EEEEEE);
  }
}
.ll-home-news-variant-2__block:hover {
  -webkit-filter: saturate(110%);
  filter: saturate(110%);
}
.ll-home-news-variant-2__block {
  position: relative;
  display: block;
  height: auto;
  box-sizing: border-box;
  color:#8c8c8c;
  font-size:13px;
  min-height: 250px;
  height: auto;
  -webkit-filter: saturate(30%);
  filter: saturate(30%);
//  word-wrap: break-word;

  p {
    padding: 0;
  }
  img {
    width: 100%;
//    opacity:0.9;
  }
//  img:hover {
//    opacity:1;
//  }
  strong {
    color:#333333;
    font-size:17.5px;
    text-align: center;
    display: inline-block;
    padding: 10px 0 0 0;
  }
}

.ll-home-news-variant-2__more {
  background: #B72C2C;
  padding: 5px;
  color: #FFFFFF;
  text-decoration: none;
  float: right;
  margin: 10px 10px 0 0 ;
  display:none;
}
.ll-home-news-variant-2__photo {
  overflow: hidden;
  width: 47.5%;
  height: auto;
  float: left;
  margin: 0 15px 0 0;
}
.ll-home-news-variant-2__news-text {
//  padding: 15px;
}
.ll-home-news-variant-2__caption {
  text-align: center;
  margin-bottom: 25px;
}