.ll-header-user {
  display: none; // Заказчик попросил отключить
    position: absolute;
    top: 30px;
    right: 50px;
	text-align: center;
    z-index: 10;
  a{ color:#444444!important;
  }
}

.ll-header-user-image {
    display:inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #c4cccb;
    background-color: transparent;
    border-radius: 50%;
	text-align: center;
    overflow: hidden;
	
	img {
		height: 100%;
		width: auto;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
	}
}

@media screen and(max-width: 1050px) {
    .ll-header-user {
        position: absolute;
        top: 30px;
        right: 20px;
        text-align: center;
        z-index: 10;
        a{ color:#444444!important;
        }
    }
}

@media screen and(max-width: 996px) {
    .ll-header-user {
        position: absolute;
        top: 30px;
        right: 10px;
        text-align: center;
        z-index: 10;
        a{ color:#444444!important;
        }
    }
}