.ll-home-offers {
  padding: 0 60px 12px 60px;
  h4 a {
    color:#000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }
}

.ll-home-offers__element {
 width: 100%;
 text-align: center;
 margin: 38px 10px 50px 10px;
}
.ll-home-offers__element:last-child {
  .mixin__float-right;
}
.ll-home-offers__image {
  min-height: 80px;
}
.ll-home-offers__text {
  min-height: 100px;
  margin: 19px auto 0 auto;
  font-size: 18px;
  //word-wrap: break-word;
  max-width:98%;
  overflow: hidden;
  p{
    margin: 0;}
}
.ll-home-offers__button {
  .llg-button;
  min-width: 200px;
  max-width: 98%;
  .mixin__border-radius (0);
  font-weight: bold;
  white-space: nowrap;
  margin-top: 0;
  padding: 12px 25px;
  font-size: 17px;
}
  .ll-home-offers__button:hover,
  .ll-home-offers__button:visited {
      color:#FFFFFF;
  }

  @media screen and (max-width: 995px) {
    .ll-home-offers__button {
      background-color: #B72C2C;
      border: none;
      color: #FFFFFF;
      /* padding: 15px 32px; */
      text-align: center;
      text-decoration: none;
      display: block;
      overflow: hidden;
      font-size: 16px;
      min-width: 100%;
      max-width: 100%;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -o-border-radius: 0;
      font-weight: bold;
      white-space: nowrap;
      margin-top: 0;
      padding: 12px 5px;
      font-size: 17px;
    }


    .ll-home-offers__text {
      min-height: 100px;
      margin: 19px auto 0 auto;
      font-size: 18px;
      //word-wrap: break-word;
      max-width:98%;
      overflow: hidden;
      p{
        text-align: center;
        margin: 0;}
    }

  }