.ll-header-menu {
  //float: right;
  // font-family: 'Lato', sans-serif;
//  font: 100%/1.25 arial, helvetica, sans-serif;
  margin-top: 40px;
  nav {
    background: none;
    border: none;
  }
  a {
    color: #444444 !important;
    font-weight: 400;
    text-decoration:none;
	text-transform:uppercase;
    border-bottom: solid 1px transparent;
  }
  a:hover {
	color: @base_red_color !important;
  }
}

//  ----------- Нужно переделать в БЭМ -----------

.ll-header-menu {

  .navbar {
    margin: 0;
    min-height: 39px;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
  {
      //border-bottom: solid 1px @base_red_color;
	  color: @base_red_color;
  }

  .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand
  {
    font-size: 16px;
    font-weight: bold;
    padding:0 2.8em 0 0; // При значении большем 2.8em ломается на Андроиде. Большее значение задано ниж через @media
  }
}

@media only screen
and (min-width : 1224px) {
  .ll-header-menu {
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand
    {
      padding:0 3.5em 0 0;
    }
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: transparent;
}
.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}



// ----- настройка адаптивности для экранов средних размеров ----//

@media screen and(max-width: 1050px) {
  #right_side-of-header_menu{
    padding: 0;
    padding-left: 10px;
  }
}


@media screen and ( max-width: 996px ){
  #left_side-of-header_menu{
    padding-left: 0;
  }

  #right_side-of-header_menu{
    padding: 0;
    padding-left: 10px;
  }
  .ll-header-menu {
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
      font-size: 16px;
      font-weight: bold;
      padding: 0 1.7em 0 0;
    }
  }
}





//------------