.ll-home-without-carousel {
  width: 100%;
  height: 557px;
  padding-top: 180px;
  background-image: url("../images/visuals/home-slider-6.jpg");
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-size: cover;
}

// ----------- Приложение -----------
@media screen and (max-width: 980px) {
  .ll-home-without-carousel {
    background-position:  center center;
    height: 500px;
    min-width: 720px;
    .ll-search-form-home {
      left: 10%;
    }
  }
}
