.ll-header-links {
  display:block;
  float:right;
  margin: 4px 35px 0 0;
  li {
    display: inline;
    margin: 10px 10px 10px 10px;
  }
  a {
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid  #808080;
    font-size: 0.8em;
  }
   .llg-button {
    background-color:#FFFFFF;
    border:none;
    color: #444444;
    display:inline;
    font-size:0.8em ;
    margin:0;
    padding:0;
    text-align:center;
    text-decoration:none;
    vertical-align:middle;
    border-bottom:1px solid #808080;
     line-height: 16px;
  }
}