.ll-history {
  font-size: @base_font_size;
	h2{
	margin-bottom: 30px;
	margin-top: 30px;
	}
}

.ll-history-main{
	border: 1px solid transparent; 
	border-left: 2px solid @base_dark_gray_color;
	position: relative;	
	min-height: 520px;
}
.ll-history-date{
	display: inline-block;
	color: white;
	background-color: @base_red_color;
	border-radius: 0 7px 7px 0;
	width: auto;
	font-size: 24px;
	padding: 5px 15px 5px 15px;
}
.ll-history-line{
	display: inline-block;
	border: 1px solid @base_gray_color;
	height: 1px;
	left: 160px;
	right: 10px;
	top: 20px;
	position: absolute;
}
.ll-history-text{
	margin: 20px 40px 20px 40px;
	p{
		line-height: 1.8;
	}
}
.ll-history-main-arrow{
	min-height: 0;
  width: 0px;
  height: 0px;
  border: 9px solid transparent; 
  border-top-color: @base_dark_gray_color;  
  margin: 0;
  padding: 0;
  //float: left;
  left: -8px;
}

   .ll-history-leftimg {
    float:left; 
    margin: 7px 30px 7px 0; 
	width: 350px;
   }
   .ll-history-rightimg  {
    float: right; 
    margin: 7px 0 7px 30px; 
	width: 350px;
   }