.ll-home-news-variant-3 {
  padding: 0 60px 12px 60px;
  h4 a {
    color:#000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
  }
  li {
    font-size: 14px;
    margin: 16px 0 16px 0;
  }
}
.ll-home-news-variant-3__element {
  width: 100%;
  text-align: center;
  margin: 38px 10px 0px 10px;
}
.ll-home-news-variant-3__element:last-child {
  .mixin__float-right;
}
.ll-home-news-variant-3__image {
  min-height: 80px;
}
.ll-home-news-variant-3__text {
  min-height: 75px;
  margin: 19px auto 0 auto;
  font-size: 18px;
  a {
    color:#888888;
    font-size: 14px;
  }
}