.ll-home-career{
  background-image:url("../images/visuals/workers.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
  width: 100%;
  height: 364px;
  padding-top: 110px;
  padding-bottom: 20px;
  position: relative;
  text-align:center;
  color:#FFFFFF;
  a {
    color:#FFFFFF !important;
    text-decoration: none;
  }
  h2 {
  font-size: 42px;
  font-weight: bold;
  }
}

.ll-home-career-button{
  white-space: nowrap;
  border-radius: 0;
  a {
	font-size:20px !important;
    font-weight: bold;
  }
}