.ll-home-news-variant-4 {
	position: relative;
	width: 100%;
	height: 300px;
    min-height: 270px;
	margin: 50px 0;
     a {
      color: #ffffff;
      font-size: 20px;
    }
    img {
      width: 100%;
    }
  .col-md-4 {
    padding: 0;
  }
  h3 {
    margin-bottom: 20px;
  }
}
.ll-home-news-variant-4__block {
  margin: 0 15px;
  position: relative;
}

#ll-home-news-variant-4__more0,
#ll-home-news-variant-4__more1,
#ll-home-news-variant-4__more2,
#ll-home-news-variant-4__more3,
#ll-home-news-variant-4__more4,
#ll-home-news-variant-4__more5 {
  position: absolute;
  background: rgba(200, 200, 200, 0.1);
  color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index:100;
  display: none;
  overflow: hidden;
}
.ll-home-news-variant-4__more p {
  position: absolute;
  bottom: 1px;
  right: 10px;
  font-size: 15px;
  display: none;
}

.ll-home-news-variant-4__text{
	padding: 20px;
}
.ll-home-news-variant-4__photo{
	overflow: hidden;
	width: 100%;
	height: auto;
	float: left;
	margin: 0 0 20px 0;
}
.ll-home-news-variant-4__header{
	width: 100%;
	padding: 10px;
	color: #ffffff;
	background-color: #999999;
	height: 30%;
}
