.ll-home-carousel{
	.ll-home-carousel-control {
	  position: relative;
	  margin-top: 125%;
	}

	.carousel-fade {
		.carousel-inner {
			.item {
				transition-property: opacity;
				-webkit-transition-property: opacity;
				-moz-transition-property: opacity;
				-o-transition-property: opacity;
			}

			.item,
			.active.left,
			.active.right {
				opacity: 0;
				-webkit-opacity: 0;
				-moz-opacity: 0;
				-o-opacity: 0;
			}

			.active,
			.next.left,
			.prev.right {
				opacity: 1;
				-webkit-opacity: 1;
				-moz-opacity: 1;
				-o-opacity: 1;				
			}

			.next,
			.prev,
			.active.left,
			.active.right {
				left: 0;
				transform: translate3d(0, 0, 0);
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				-o-transform: translate3d(0, 0, 0);	
			}
		}

		.carousel-control {
			z-index: 2;
		}
	}
	.carousel-fade .carousel-inner .item {
	  opacity: 0.5;
	  transition-property: opacity;
	  transition-duration: 3s;
	  transition-timing-function:linear;
	  
	  -webkit-transition-property: opacity;
	  -webkit-transition-duration: 3s;
	  -webkit-transition-timing-function:linear;
	  
	  -moz-transition-property: opacity;
	  -moz-transition-duration: 3s;
	  -moz-transition-timing-function:linear;
	  
	  -o-transition-property: opacity;
	  -o-transition-duration: 3s;
	  -o-transition-timing-function:linear;
	}

	.carousel-fade .carousel-inner .active {
	  opacity: 1;
	}

	.carousel-fade .carousel-inner .active.left,
	.carousel-fade .carousel-inner .active.right {
	  left: 0;
	  opacity: 0;
	  z-index: 1;
	}

	.carousel-fade .carousel-inner .next.left,
	.carousel-fade .carousel-inner .prev.right {
	  opacity: 1;
	}

	.carousel-fade .carousel-control {
	  z-index: 2;
	}
  ////
 a.carousel-control{
	position: absolute;
	bottom: 0;
	width: 15%;
	font-size: 20px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	filter: alpha(opacity=50);
	opacity: .5;
  }
}
@media screen and (max-width: 980px) {
	.ll-home-carousel{
width: 100%;
height: 700px;
background: url("../images/visuals/home-slider-2.jpg") right center no-repeat;
		
		
		.ll-home-carousel-control {
				visibility: hidden;
			}

		.carousel-fade {
				visibility: hidden;		
			}
		.carousel-fade .carousel-inner .item {
				visibility: hidden;
			}

		.carousel-fade .carousel-inner .active {
				visibility: hidden;
			}

		.carousel-fade .carousel-inner .active.left,
		.carousel-fade .carousel-inner .active.right {
				visibility: hidden;
			}

		.carousel-fade .carousel-inner .next.left,
		.carousel-fade .carousel-inner .prev.right {
				visibility: hidden;
			}

		.carousel-fade .carousel-control {
				visibility: hidden;
			}


		.download-mobile-application{

			}
	.ll-search-form-home{
		top: 20px;
	}
}
}


.show{
  display: block;
}

.hide{
  display: none;}

