.ll-ipoteka-calculator {

  margin: 50px 0 0 0;
  clear: both;
  overflow: hidden;
  margin-bottom: 5em;

  .ll-ipoteka-calculator__body {
    .mixin__bordered (#DDDDDD);
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
  }
  .ll-ipoteka-calculator__button {
    margin: 3em auto;
    overflow: hidden;
    clear: both;
    text-align: center;
  }

  .ll-ipoteka-calculator__title {
    .mixin__base-padding;
    background: #F5F5F6;

    border-bottom: 1px solid #DDDDDD;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2em;
    color: inherit;
    text-align: center;
  }

  .ll-ipoteka-calculator__content {
    padding: 4%;
    padding-top: 7%;
    overflow: hidden;

  }
  .content_sm {
    margin-right: 20%;
    //  overflow: hidden;
    width: 30%;
    margin-bottom: 0;
    // height: 100px;
    color: #600000;
    float: left;
    text-align: center;
    height: auto;
  }
  .content_big {
    //overflow: hidden;
    width: 50%;
    height: auto;
    margin-bottom: 0;
    color: #600000;
    float: left;
    input{
      border: none;
    }
  }

  input[type=text], select {
    height: auto;
    padding: 0 20px 0 5px;
  }

  .ll-ipoteka-calculator-select {
    font-size: 20px;
    //padding: 0;
    padding: 10px;
    line-height: 1.2em;
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: #f5f4f5;

    option:nth-child(2n+1){
    background-color: @base_gray_color;
    }
  }





  .content_sm-label {
    margin-top: 2em;
    line-height: 1.2em;
    width: 100%;
    background-color: #f5f4f5;
    .mixin__bordered(#DDDDDD);
    overflow: hidden;
  }

  .content_sm-h3 {
    margin-bottom: 0;
  }
  .content_sm-h4 {
    margin-top: 0.7em;
    margin-bottom: 1em;
  }
  .content_big-range_block {
    margin: 0;
    margin-top: 6em;
    line-height: 1.2em;
    width: 100%;
  }

    // --- Style for INPUT type RANGE ---
  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    height: 50px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 1px solid #656565;
    height: 40px;
    width: 22px;
    border-radius: 8px;
    background: #afafaf;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13.2px;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    /*background: #65001c;*/
    cursor: pointer;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    /*background: #65001c;*/
    cursor: pointer;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #666666;
    border-radius: 0px;
    border: 0px solid #000101;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #666666;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #666666;
    border-radius: 0px;
    border: 0px solid #000101;
  }

  input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #666666;
    border: 0px solid #000101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #f5f4f5;
    border: 0px solid #000101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    /*background: #65001c;*/
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #f5f4f5;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #666666;
  }
  input[type=range]::-moz-range-progress {
    background-color: #5082e0;
  }

  input[type=range]::-ms-tooltip {
    display: none;
  }



}

@media screen and(max-width: 680px) {
  .ll-ipoteka-calculator {

    margin: 50px 0 0 0;
    clear: both;
    overflow: hidden;
    margin-bottom: 5em;

    .ll-ipoteka-calculator__content {
      padding: 5%;
      padding-top: 7%;
      overflow: hidden;

    }
    .content_sm {
      margin-right: 20%;
      margin-bottom: 2.5em;
      //  overflow: hidden;
      width: 100%;
      // height: 100px;
      color: #600000;
      float: none;
      text-align: center;
      height: auto;
    }
    .content_big {
      //overflow: hidden;
      width: 100%;
      height: auto;
      color: #600000;
      float: none;
      margin-bottom: 2.5em;
    }
  }
}