.ll-logo {
  padding: 14px 30px 2px 53px  ;
  width: 292px;
  height: auto;
  text-align: center;
  img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
}
.ll-logo-variant3,
.ll-logo-variant4 {
 margin-top: 12px;
}
@media screen and(max-width: 996px) {
  .ll-logo {
    padding: 20px 0 2px 10px;
    width: 100%;
    text-align: center;
  }
}