.ll-menu-panel-left {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: none;
	background: #ddd;
	color: #000000;
	width: 90%;
	max-width: 300px;
	padding: 0;
	z-index: 101;
    overflow: auto;
}

a.ll-menu-panel-trigger{
z-index: 102;
position: fixed;
text-decoration: none;
top: 0; left: 0;
font-size: 16px;
color:#fff;
padding: 10px 15px 10px 15px;
display: none;
background-color: #ddd;
}
.ll-menu-panel-left a.ll-menu-panel-trigger{
display: block;
}
.ll-menu-panel-left-user{
	height: 80px;
	width: 100%;
	margin-top: 10px;
	position: relative;
	text-align: center;
}
.ll-menu-panel-left-list{
	margin-top: 10px;
	position: relative;
}
.ll-menu-panel-left-links{
	margin-top: 10px;
	position: relative;
}
.ll-menu-panel-left-links a.llg-button {
  position: relative;
  display: block;
  background-color: #f1f1f1 !important;
  padding: 10px 15px;
  color: #555;
  //color: #000;
  text-align: left;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}

.ll-menu-panel-left-links a.llg-button:before {
  font-family: FontAwesome;
  padding-right: 7px;
  content: "\f075 ";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.ll-menu-panel-left .ll-header-user {
    position: relative !important; 
    margin-top: 10px !important; 
    text-align: center !important; 
	top: 0 !important; 
	right: 0 !important; 
    z-index: 10 !important; 
	display: inline !important; 
}

@media (max-width: 860px) {
	a.ll-menu-panel-trigger{
display: block;
}
.ll-header-user{
	display: none;
}
.ll-menu-panel-left .ll-header-user {
    position: relative !important; 
    margin-top: 10px !important; 
    text-align: center !important; 
	top: 0 !important; 
	right: 0 !important; 
    z-index: 10 !important; 
	display: inline !important; 
}
.ll-header-links{
	display: none;
}
.llg-wrapper-header .col-md-4{
	width: 100%;
	text-align: center;
	height: 70px;
	}
.ll-logo {
    display: inline;
}	
.ll-logo img {
	margin-top: 10px;
    max-width: 200px;
}
.ll-header-menu{
	display: none;
}
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
}

.list-group-item-success {
    color: #3c763d;
    background-color: #A9A9A9;
	width: 100%; //eweiepoiwep
	text-align: center;
	color: #ffffff;
}
a.list-group-item-success:hover, a.list-group-item-success:focus {
    color: #ffffff;
    background-color: #808080;
}
a.list-group-item-success {
	color: #ffffff;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}