.ll-mobile-application{
	font-size: @base_font_size;
a:hover{
	color: @base_red_color;
}
} 

.ll-mobile-application__header{
	background: url('../images/visuals/mobile-application.jpg') no-repeat center top;
	background-size: cover; 
	width: 100%;
	height: 500px;
	padding: 10%;
}
.ll-mobile-application__header-h2 h1{
	color: #ffffff;
}

.ll-mobile-application__50-left{
	width: 50%;
	display: inline;
	float: left;
	padding: 20px;
	font-size: 20px;
	margin-top: 20px;
}
.ll-mobile-application__50-right{
	width: 50%;
	display: inline;
	float: right;
    padding:40px 20px 20px 20px;
	font-size: 17px;
	margin-top: 20px;
}

.ll-mobile-application__25-left{
	width: 50%;
	display: inline;
	float: left;
	padding: 20px;
	font-size: 20px;
	margin-top: 20px;
}

#lbl_left{
  padding: 0;
  h3{
	margin-top: 10px;
	margin-bottom: 0;
	font-size:22px;
  }
}
.ll-mobile-application__25-right{
	width: 50%;
	display: inline;
	float: right;
	padding: 20px;
	font-size: 20px;
	margin-top: 20px;
}

#lbl_right{
  padding: 0;
  h3{
	margin-top: 10px;
	margin-bottom: 0;
  }
}


.lg_devices{
  width: 100%;
  overflow: hidden;
  display: block;
}

.mid_dev{
  width: 100%;
  overflow: hidden;
  //visibility: hidden;
	display: none;
}

.xs_dev{
  width: 100%;
  overflow: hidden;
  //visibility: hidden;
  text-align: center;
  display: none;
  a{
	width: 100%;
	float: left;
	img{
	  width: 70%;
	  height: auto;
	  padding: 0;
	}
  }
  .IPhone_btn_bottom{
	margin-bottom: 30px;
  }
}

.ll-mobile-application__25-right img {
  width: 100%;
  height: auto;
 // height: 70px;
}
.ll-mobile-application__25-left img {
  width: 100%;
  height: auto;
 // height: 70px;
}



//---------- Media-query for download button in Size <= 940px

@media screen and (max-width: 980px) {

  .lg_devices{
	display: none;
	//visibility: hidden;
  }

  .mid_dev{
	display: block;
	//visibility: visible;
  }

  .ll-mobile-application__25-right, .ll-mobile-application__25-left{
	padding: 0 10px;
  }

  .ll-mobile-application__25-right img {
	width: 100%;
	height: auto;
	//max-height: 50px !important;
  }

  .ll-mobile-application__25-left img {
	width: 100%;
	height: auto;
	//max-height: 50px !important;
  }

}

//--------------
//******************************************************************************
//-------------- Media query for download button in size <= 620 px
@media screen and (max-width: 540px) {
  .ll-mobile-application__50-left {
	width: 80%;
	text-align: center;
	display: block;
	float: none;
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
	margin-top: 20px;

  }
  .ll-mobile-application__50-right{
	//visibility: hidden;
	display: none;
  }
}
//--------------
//******************************************************************************
//------------------ Media query for download button in size <= 540 px

@media screen and (max-width: 460px) {

	.ll-mobile-application__50-left img {
	width: 70%;
	margin: 0 auto;
	height: auto;
  }

  .mid_dev{
	display: none;
	//visibility: hidden;
  }
  .lg_devices{
	display: none;
	//visibility: hidden;
  }
  .xs_dev{
	display: block;
	//visibility: visible;
  }

  #IPhone_lbl_top{
	display: none;
	//visibility: hidden;
  }
  #lbl_right{
	display: none;
	//visibility: hidden;

  }
}


//-----------------






.ll-mobile-application__name {
  .mixin__float-right;
  font-weight: bold;
  margin-bottom: 20px;
}

//------------------------мобильное приложение features------------------------------
.ll-mobile-application-features {
	font-size: @base_font_size;
img {
  width: 100px;
  height: 100px;
}
td{
vertical-align: top;
padding: 20px;
}
p{
margin-top: 20px;
}
}  

.ll-mobile-application-features-item{
	width: 49%;
	min-width: 400px;
	display: inline;
	float: left;
	margin-top: 20px;
	height: 150px;
}

@media screen and (max-width: 1010px) {
  .ll-mobile-application-features-item{
	width: 49%;
	min-width: inherit;
	display: inline;
	float: left;
	margin-top: 20px;
	height: 150px;
  }
}

@media screen and (max-width: 1010px) {
  .ll-mobile-application-features-item{
	width: 49%;
	min-width: inherit;
	display: inline;
	float: left;
	margin-top: 0;
	height: auto;
  }

  .ll-mobile-application-features h1{
	margin-bottom: 40px;
  }
}
@media screen and (max-width: 980px) {
  .ll-mobile-application-features {
	img {
	  width: 100px;
	  height: 100px;
	}
	td{
	  vertical-align: top;
	  padding: 20px;
	}
	p{
	  margin-top: 0;
	}
  }
}

@media screen and (max-width: 705px) {
  .ll-mobile-application-features-item{
	width: 90%;
	min-width: inherit;
	display: block;
	float: none;
	margin: 0 auto;
	margin-top: 20px;
	height: 120px;
  }
  .ll-mobile-application-features {
	img {
	  width: 100px;
	  height: 100px;
	}
	td{
	  vertical-align: top;
	  padding: 10px;
	}
  }
}

@media screen and (max-width: 405px) {
  .ll-mobile-application-features-item {
	width: 90%;
	min-width: inherit;
	display: block;
	float: none;
	margin: 0 auto;
	margin-top: 60px;
	height: 120px;
  }
}