.ll-news
{
  
}
.ll-news__header {
  background: url('../images/visuals/career.jpg') no-repeat center top;
  height: 525px;
  width:100%;
  overflow: hidden;
  border-bottom: 2.7px solid #B41A1A;
}

.ll-news__header-h1{
  width: 65%;
  background: rgba(255,255,255,.50);
  padding: 15px;
  margin-top: 300px;
  h1{
    font-size: 46px;
  }
}

.ll-news-block
{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 20px;
  background-color: @base_gray_color;
}
#ll-news-more0, #ll-news-more1, #ll-news-more2, #ll-news-more3, #ll-news-more4, #ll-news-more5, #ll-news-more6
{
  position: absolute;
  background: rgba(110, 110, 110, 0.5);
  color: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index:100;
  display: none;
}
.ll-news-more p{
  text-align: center;
  margin-top: 140px;
}

.ll-news-block a{
  color: #ffffff;
  font-size: 20px;
}
.ll-news{
  width: 100%;
  margin-top: 50px;
}

.ll-news-text{
  padding: 20px;
}
.ll-news-photo{
  overflow: hidden;
  width: 100%;
  height: 45%;
  margin-bottom: 30px;
}
.ll-news-block img{
  width: 100%;
}

