.ll-offices {
	.col-md-12{
		padding-right: 15px;
		padding-left: 15px;
	}
	a {
	color: @base_red_color;
	margin-top: 10px;
	}
}
#ll-offices-map{
	border: 1px solid #dddddd;
	width: 100%;
	height: 400px;
}
.ll-offices-left_col{
	border: 1px solid #dddddd;
	width: 100%;
	height: 400px;
	padding: 20px;
}
.ll-offices-left_col ul li{
	margin-top: 15px; 
	font-size: 18px; 	
}
.ll-offices-left_col select{
	width: 100%;
	margin-top: 10px; 	
}
.ll-offices-list {
  margin-top: 30px;
}
.ll-offices-list-header{
	width: 100%;
	background-color: #f1f1f1;	
	border: 1px solid #d8d8d8;
	padding: 15px;
	height: 50px;
	text-align: center; 
	font-size: 16px; 
	min-width: 500px;	
}
.ll-offices-list-item{
	width: 100%;	
	border: 1px solid #d8d8d8;
	padding: 15px;
	text-align: center; 
	font-size: 16px;
 	height: 120px;	
	min-width: 500px;
}
.ll-offices-list-item-selected{
	border: 3px solid #d0d0d0;
}
.ll-offices-list-item ul li{
	margin-top: 8px;
  a {
	color: @base_red_color;
	margin-top: 10px;
	text-align: center;
  }
  a:hover{
	text-decoration: underline;
  }
  a.llg-button{
	color: @base_red_color;
	margin-top: 10px;
	background-color: #ffffff;
	border: none;
	padding: 0;
	text-align: center;
	text-decoration: none;
	display: initial;
	overflow: hidden;
	font-size: 16px;
	white-space: nowrap;

  }
}

.ll-offices-list-item ul li:first-child{
  margin-top: 0;
}

.ll-offices-list-one, .ll-offices-list-two{
	display: inline-block;
	float: left;
	width: 20%;
}
.ll-offices-list-three, .ll-offices-list-four, .ll-offices-list-five{
	display: inline-block;
	float: right;
	width: 20%;
}