.ll-pagination {
  width: 100%;
  ul {
    display: inline-block;
    li {
      display: inline-block;
      padding: 4px 10px;
      color: @base_red_color;
      margin: 2px;
    }
  }
  a {
    color: @base_red_color;
  }
}
// bootstrap
.ll-pagination ul {
    width: 100%;
    display: inline;
}

.pagination .disabled span {
    color: #B41A1A;
    cursor: not-allowed;
}

.pagination .disabled a {
    color: #B41A1A;
    cursor: not-allowed;
}

.pagination li a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #B41A1A;
    text-decoration: none;
    background-color: #fff;
    border: 0px;
}

.pagination  .disabled  a:hover {
    color: #B41A1A;
    cursor: not-allowed;
    background-color: #fff;
    border-bottom: #B41A1A;
}

.pagination  .active  a {
    z-index: 0;
    color: #B41A1A;
    cursor: default;
    background-color: #fff;
	border: 1px solid #B41A1A;
}

 .pagination .active  a:hover {
    z-index: 0;
    color: #B41A1A;
    cursor: default;
    background-color: #fff;
	border: 1px solid #B41A1A;
}

.pagination  li  a:hover {
    color: #B41A1A;
    background-color: #fff;
	border-bottom: 1px solid #B41A1A;
}

.pagination li:last-child   a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	border-bottom: 1px solid #B41A1A;
}
.pagination  li:last-child  a:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0px;
}

.pagination li:first-child  a {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-bottom: 1px solid #B41A1A;	
}

