.ll-rotateslider {
  height: 600px;
  width: 100%;
  background: #FFFFFF;
  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #B72C2C;
  }  
}

.ll-rotateslider__container {
  position: relative;
  width: 1000px;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  .ll-rotateslider__item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.6);
    opacity: 0;
    filter: blur(5px);
    transition: all 0.3s ease;
  }
  @offset: 30%;
  .ll-rotateslider__item.next {
    left: 50% + @offset;
    opacity: 0.5;
  }

  .ll-rotateslider__item.prev {
    left: 50% - @offset;
    opacity: 0.5;
  }

  .ll-rotateslider__item.now {
    opacity: 1;
    text-align: center;
    filter: blur(0px);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
  }
  .arrow {
    display: inline-block;
    width: 50px;
    height: 80px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
    i{
      font-size: 7em;
    }
  }
}

//-------Media query for ll-rotateslider__container ------------//

@media screen and (max-width: 1100px){
  .ll-rotateslider {
    height: 600px;
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #B72C2C;
    }
  }

  .ll-rotateslider__container {
    position: relative;
    width: 900px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    .ll-rotateslider__item {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0.6);
      opacity: 0;
      filter: blur(5px);
      transition: all 0.3s ease;
    }
    @offset: 30%;
    .ll-rotateslider__item.next {
      left: 50% + @offset;
      opacity: 0.5;
    }

    .ll-rotateslider__item.prev {
      left: 50% - @offset;
      opacity: 0.5;
    }

    .ll-rotateslider__item.now {
      opacity: 1;
      filter: blur(0px);
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1);
      //.rotateslider_bottom_txt{display: inline-block;}
    }
    .arrow {
      display: inline-block;
      width: 50px;
      height: 80px;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      cursor: pointer;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      i{
        font-size: 7em;
      }
    }
  }
}

@media screen and (max-width: 992px){
  .ll-rotateslider {
    height: 650px;
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #B72C2C;
    }
  }
  .ll-rotateslider__container {
    position: relative;
    width: 100%;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    .ll-rotateslider__item {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0.6);
      opacity: 0;
      filter: blur(5px);
      transition: all 0.3s ease;
    }
    @offset: 30%;
    .ll-rotateslider__item.next {
      left: 50% + @offset;
      opacity: 0.5;
    }

    .ll-rotateslider__item.prev {
      left: 50% - @offset;
      opacity: 0.5;
    }

    .ll-rotateslider__item.now {
      opacity: 1;
      filter: blur(0px);
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1);
    }
    .arrow {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      cursor: pointer;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      i{
        font-size: 7em;
      }
    }
  }
}

.slide-description{
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  position: relative;
  text-align: center;
  font-style: italic;
  margin-bottom: 2.3em;
}

.show_slide_description{
  display: block;
}

.hide_slide_description{
  display: none;
}

.llg-wrapper-main__about {
  .ll-rotateslider h1 {
    display: none;
  }
}

@media screen and (max-width: 600px){
  .ll-rotateslider {
    height: 700px;
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #B72C2C;
    }
  }
  .ll-rotateslider__container {
    position: relative;
    width: 100%;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    .ll-rotateslider__item {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0.6);
      opacity: 0;
      filter: blur(5px);
      transition: all 0.3s ease;
    }
    @offset: 30%;
    .ll-rotateslider__item.next {
      left: 50% + @offset;
      opacity: 0.5;
    }

    .ll-rotateslider__item.prev {
      left: 50% - @offset;
      opacity: 0.5;
    }

    .ll-rotateslider__item.now {
      opacity: 1;
      filter: blur(0px);
      top: 45%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1);
    }
    .arrow {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 45%;
      margin-top: -25px;
      cursor: pointer;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      i{
        font-size: 7em;
      }
    }
  }
}

.slide-description{
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  position: relative;
  text-align: center;
  font-style: italic;
  margin-bottom: 2.3em;
}

.show_slide_description{
  display: block;
}

.hide_slide_description{
  display: none;
}

.llg-wrapper-main__about {
  .ll-rotateslider h1 {
    display: none;
  }
}
@media screen and (max-width: 400px){
  .ll-rotateslider {
    height: 800px;
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      color: #B72C2C;
    }
  }
  .ll-rotateslider__container {
    position: relative;
    width: 100%;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    .ll-rotateslider__item {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%) scale(0.6);
      opacity: 0;
      filter: blur(5px);
      transition: all 0.3s ease;
    }
    @offset: 30%;
    .ll-rotateslider__item.next {
      left: 70%;
      opacity: 0.4;
    }

    .ll-rotateslider__item.prev {
      left: 50% - @offset;
      opacity: 0.5;
    }

    .ll-rotateslider__item.now {
      opacity: 1;
      filter: blur(0px);
      top: 40%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) scale(1);
    }
    .arrow {
      display: inline-block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 35%;
      margin-top: -25px;
      cursor: pointer;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
      i{
        font-size: 7em;
      }
    }
  }
}

.slide-description{
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  position: relative;
  text-align: center;
  font-style: italic;
  margin-bottom: 2.3em;
}

.show_slide_description{
  display: block;
}

.hide_slide_description{
  display: none;
}

.llg-wrapper-main__about {
  .ll-rotateslider h1 {
    display: none;
  }
}