.ll-structure {
  padding: 40px 20px 20px 20px;
}
.ll-structure {
  font-size: 16px;
}
.ll-structure .col-md-12{
	padding-left: 15px;
	padding-right: 15px;
}
.ll-structure-item {
  min-height: 170px;
}
.ll-structure-item img {
  width: 80px;
  height: 80px;
}
.ll-structure-item td {
  vertical-align: top;
  padding: 20px 10px 10px 10px;
}
.ll-structure-item td h3 {
  margin-top: 0;
}
.ll-structure-item p {
  margin-top: 20px;
  margin-bottom: 0;
}
.ll-structure-item p:last-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
}


.ll-structure-item a, .ll-structure-item a:hover, .ll-structure-item a:visited{
  text-decoration: none;
  color: @base_red_color;
 // margin-top: 1.5em;
}
.ll-structure-item a:hover{
  font-weight: 700;
 // text-shadow: 0 0 0.5em @base_red_color;

}

.ll-structure-leads hr{
	 border: 0; 
	 height: 2px; 
	 background: #B72C2C; 
	 background-image: linear-gradient(to right, #fff, #B72C2C, #fff);
}
.ll-structure-leads-item-photo{
	width: 250px;
	height: 300px;
	clear: both;
	overflow: hidden;
	display: inline-block;
}
.ll-structure-leads-item-photo img{
	width: 100%;	
}
.ll-structure-leads-item-float_right{
	float: right;
}
.ll-structure-leads-item{
	margin-top: 20px;
}

@media screen and (max-width: 992px) {
	.ll-structure-leads-item-float_right{
		float: none;
	}
	.ll-structure-leads-item{
		text-align: center;
	}
}