.ll-services-discounts {
//  border-top: 1px solid #E0E0E0;
//  border-bottom: 1px solid #E0E0E0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  h2 {
  font-size:23px;
  margin:0;
  }
  p {
    font-size: 14px;
  }
}
.ll-services-discounts-ul {
	display: inline-block;
	text-align: left;
}
.ll-services-discounts__percent {
  color:@base_red_color;
  font-size: 60px;
  text-align: center;
  margin: 10px 0;
}