.ll-sell-form {
	.ll-sell-form__radio-button {
		display: inline-block;
		width: 200px;
	}
	.ll-sell-form__object{
		height: 400px;
		padding: 4% 6% 0 6%;
		border: 1px solid #DDDDDD;
		background-color: #FDFDFD;
	}
	.ll-sell-form__address{
		height: 400px;
		padding: 4% 6% 0 6%;
		border: 1px solid #DDDDDD;
		background-color: #FDFDFD;
	}
	.ll-sell-form__additionally{
		height: 400px;
		padding: 4% 6% 0 6%;
		border: 1px solid #DDDDDD;
		background-color: #FDFDFD;	
		border-bottom: 0;
		text-align: center;
	}	
	.ll-sell-form__photo_and_video{
		height: 400px;
		padding: 4% 6% 0 6%;
		border: 1px solid #DDDDDD;
		background-color: #FDFDFD;	
		border-bottom: 0;	
	}
	.ll-sell-form__contacts{
		border: 1px solid #DDDDDD;
		background-color: #FDFDFD;
		padding: 4% 10% 4% 10%;
		margin: 0;
	}
	.ll-sell-form__price{
		height: 150px;
		padding: 4% 20% 4% 20%;
		border: 1px solid #DDDDDD;
		background-color: #FDFDFD;	
		border-top: 0;
		margin-top: 0;
		text-align: center;
	}	
	label {
		display: inline-block;
		max-width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 7px;
		height: 35px;
		width: 30%;
		font-size: 16px;
		color: #5e6868;
	}
	input[type="text"], select {
		margin-top: 15px;	
		margin-bottom: 15px;
		display: inline-block;
		height: 35px;
		padding: 7px;
		height: 35px;	
		width: 55%;
		min-width: 150px;
		float: right;
	}
	.ll-sell-form__input-half{
		width: 20%!important;
		min-width: 50px!important;
	}
	.ll-sell-form__label-half{
		float: right;
		width: 50px!important;
	}
	
	
	.additional_check{
		display: inline-block;
		width: 35%;
		min-width: 150px;
	}
	.ll-sell-form__additionally-checks{
	  overflow: hidden;
	  border: 1px solid #DDDDDD;
	  border-bottom: none;
	  background-color: #FDFDFD;
	  padding: 5%;

	}
	.ll-sell-form__photo_and_video{
		margin-bottom: 0px;
		border-bottom: 0px;
		  margin: 0;
		}
	.ll-sell-form__additionally-description{
	  overflow: hidden;
	  border: 1px solid #DDDDDD;
	  background-color: #FDFDFD;
	  margin-top: 0;
	  padding: 5%;
	  margin-bottom: 3em;
	}
	label.additional_checkbox {
	  padding-left: 2em;
	}

	.additionally_description_text{
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  width: 100%;
	  
	  height: 250px;
	  font-size: 16px;
	  line-height: 1.1em;
	  color: #000;
	  font-weight: 400;
	  resize: vertical;
	}

	.additionally-description_footer_text{
	  padding: 0 3%;
	  margin-top: 1.2em;
	  font-size: 14px;
	  line-height: 1.6em;
	  font-weight: 500;
	  text-align: justify;
	  color: #646464;

	}
	.label_for_upload_img{
	  float: left;
	  margin-right: 2.6em;
	  font-size: 18px;
	  font-weight: 400;
	}
	.img_load{
	  overflow: hidden;
	}
	.img_stub {
	  display: block;
	  border: 2px solid #c6d0d0;
	  width: 140px;
	  height: 120px;
	  background-color: #fff;
	  font-size: 44px;
	  font-weight: 300;
	  text-decoration: none;
	  text-align: center;
	  vertical-align: middle;
	}

	.plus_in_circle {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  color: #c6d0d0;
	  border: 3px solid #c6d0d0;
	  margin-top: 0.76em;
	  text-align: center;
	  vertical-align: middle;
	  line-height: 44px;
	}
	.ll-sell-form__photo_and_video a:hover, a:active, a:vsited{
	  text-decoration: none;
	}
	#sell-form-price{
		width: 200px;
		min-width: 200px;
	}
	#sell-form-money{
		width: 70px;
		min-width: 70px;	
		margin-left: 20px;
			border: none;
			background-color: #FDFDFD;	
			border-bottom: 2px dotted #000000;	
	}	
}
.header_txt {
  font-size: 24px;
  line-height: 1.2em;
  font-weight: 800;
  text-align: left;
  clear: both;
  margin-bottom: 1.5em;
}
.header_txt_1 {
  font-size: 20px;
  line-height: 1.1em;
  font-weight: 800;
  text-align: left;
  //float: left;
  color: #5e6868;
  clear: both;
  margin-bottom: 1.2em;
}

