.ll-services {
  margin-bottom: 20px;
  //padding-top:30px;
  padding:30px 20px 0 20px;
  p {
    font-size: 14px;
    margin: 20px;
    margin-top: 30px;
  }
   a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    margin: 10px;
  }
  img {
    margin: 10px;
    width: 50px;
    height: auto;
  }
  hr {
    height: 2px;
  }
  h2 {
    text-align: left;
  }
}

@media (max-width: 980px) {
  .ll-services .ll-services-hr {
      display: none;
  }
}
.ll-services-price{
  color: gray;
}
.ll-services-more_info_href {
    margin:30px 0 40px 0;
}
.ll-services-more_info_href a,
.ll-services-more_info_href a:hover,
.ll-services-more_info_href a:visited {
  float: right;
  display: block;
  color: @base_red_color !important;
  font-size:14px;
  font-weight:700;
  text-decoration:underline;
  clear:both;
}
.ll-services-additional-list {
  padding: 20px;
  p {
    font-size: 14px;
  }
  ul {
    margin-top: 20px;
  }
  //li {
  //  line-height:40px;
  //}
  //li:nth-child(even) {
  //  background-color:#FCFCFC;
  //}
  .tab-content {
    border-left:1px solid #DDDDDD !important;
    border-right:1px solid #DDDDDD  !important;
    border-bottom:1px solid #DDDDDD  !important;
  }
  .llg-panel {
    padding: 10px 20px 20px 20px;
    min-height: auto;
  }
}
.ll-services-additional-list-marker{
  color: @base_red_color;
  font-size: 14px;
  font-weight: bolder;
}
#llg-panel__documents-list {
//  display: none; // Начальная установка, потом будет включаться скриптом
}