.ll-steps-to-documents-buttons {

}
.ll-steps-to-documents-buttons__float_left {
	float:left;
}
.ll-steps-to-documents-buttons__float_right {
	float:right;
}

.ll-steps-to-documents-buttons__button{
  background-color: #B41A1A;
  padding:10px 0;
  text-align:center;
  white-space:nowrap;
  width:48.27%;
  color: #ffffff;
}
.ll-steps-to-documents-buttons__button:hover {
  color: #ffffff;
  text-decoration: none;
}
.ll-steps-to-documents-buttons__button:active {
  color: #ffffff;
  text-decoration: none;
}
.ll-steps-to-documents-buttons__button:visited {
	color: #ffffff;
}

.ll-steps-to-side {
    width:330px;
    float:left;
    margin-left:10px;
}
.ll-steps-to-side img {
	display:block;
	margin:15px 0px;
}
@media screen and (max-width: 1280px){
	.ll-steps-to-documents-buttons__hide {
		display:none;
	}
}