.ll-services-video {
  .mixin__why-with-landlord;



}
.ll-services-video-modal_link{
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 0;
  height: auto;
  overflow: hidden;
  border-radius: 2px;
}
.ll-services-video-play_icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: rgba(0,0,0,.5) url('../images/placeholders/video_play_small.png') 19px 13px no-repeat;
  margin: auto;
  width: 50px;
  height: 50px;
  z-index: 3;
  border-radius: 50%;
  -o-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.ll-services-video-thumb{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 170px;
  z-index: 1;
}

.first-video{
  background-image: url('../images/video_thumbs/first_video.jpg');
}