.ll-similar-offers {
  clear: both;
  overflow: hidden;
}
.ll-similar-offers__header{
  font-size: 24px;
  text-align: center;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
  height: 41px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  padding: 5px 0;
  margin: 0;
  background: #F5F5F6;
}

.ll-similar-offers__item {
  display: block;
  float: left;
  width: 20%;
  margin: 0 2.5%;
  text-align: center;
  font-size: 18px;
  overflow: hidden;
}
.item-header-text{
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  margin-bottom: 1.2em;
}
.item-image{
  max-height: 12em;
  border: 2px solid #DDDDDD;
  img{  width: 100%; }
}
.item-bottom-txt{
  position: relative;
text-align: center;
  height: 2em;
  padding-top: 5px;
  border: 2px solid #DDDDDD;
  border-top: none;
  background-color: white;
  color: @base_red_color;
  a{
    text-decoration: none;
    color: @base_red_color;
  }
}

.ll-similar-offers__body{
  padding: 5% 0;
  margin:auto;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
}