.ll-search-results-limit {
  margin: 0 0 20px 0;
  overflow: hidden;
  label {
    .mixin__float-left;
    line-height: 35px;
    vertical-align: middle;
    white-space: nowrap;
  }
  select {
    .mixin__float-left;
    margin: 0 0 0 5px;
}
}

.llg-wrapper-main__clients {
  .ll-search-results-limit {
    margin:2.5em auto 0.5em auto;
    overflow:hidden;
    width:90%;
  }
}