.ll-splitter {
  width: 100%;
  height: 70px;
  overflow: hidden;
  margin: 25px 0 0 0;
//  border-top: 1px solid #1D1D1B;
//  border-bottom: 1px solid #1D1D1B;
  background-color: #E6E4E4;
//  border-bottom: 1px solid #808080;
}