.ll-steps-to-sell-content {
  background-color: #E0E0E0;
  padding-bottom: 0;
  overflow: hidden;
  li {
    list-style: square outside;
  }
  ul {
    margin-bottom: 10px;
  }
}
.ll-steps-to-sell-framed {
  padding:25px 30px;
}
.ll-steps-to-sell-content-item {
  width: 1030px !important;
  height: 100%;
  margin: auto;
  //min-height: 600px;
}
.ll-steps-to-sell-content-item_content {
  padding-top: 13px;
  margin-bottom:30px;
}
.ll-steps-to-sell-content-item_content p {
  font-size:14px;
}
.clear_left {
  clear:left;
  height:0px;
}
.clear_right {
  clear:right;
  height:0px;
}
.clear_both {
  clear:both;
  height:0px;
}

.ll-steps-to-sell-content-main {
  width:683px;
  float:left;
  margin-right:5px;
  min-height:859px;
}

.ll-steps-to-sell-content__button {
  .llg-button;
  display:table;
  margin-top: 50px;
}
a.ll-steps-to-sell-content__button:hover,
a.ll-steps-to-sell-content__button:visited {
  color: #FFFFFF;
}

// Carousel with 8 steps
#carousel {
  position:relative;
  overflow:hidden;
  height:450px;
}
#carousel img {
  display:block;
  float:left;
}
#prevCarou, #nextCarou {
  background-color: #FFFFFF;
  display: block;
  height: 510px;
  filter:alpha(opacity=70);
  -khtml-opacity:.7;
  -moz-opacity:.7;
  opacity:.7;
  position: absolute;
  top: 0;
  width: 50%;
}
#prevCarou:hover, #nextCarou:hover {
  filter:alpha(opacity=80);
  -khtml-opacity:.8;
  -moz-opacity:.8;
  opacity:.8;
}
#prevCarou {
  left: -513.5px;
}
#nextCarou {
  right: -513.5px;
}
#carousel_controls {
  position:relative;
  width:1027px;
  margin:0px auto;
}
#carousel_overlay {
  position:absolute;
  background-color:#ffffff;
  width:1027px;
  height:130px;
  top:-200px;
  filter:alpha(opacity=95);
  -khtml-opacity:.95;
  -moz-opacity:.95;
  opacity:.95;
}

#carousel_overlay h1 {
  font-size:22px;
  text-transform:uppercase;
  width:350px;
  padding:30px;
  float:left;
}

#carousel_pagination {
  float:left;
  width:597px;
  padding:48px 0px 0px 30px;
}
#carousel_pagination a:link, #carousel_pagination a:visited {
  display:block;
  width:70px;
  height:33px;
  background-image: url("../images/interface/steps_sprite.png");
  background-repeat:no-repeat;
  float:left;
}
a#step_1 {
  background-position:left top;
}
a#step_1.selected {
  background-position:left bottom;
}
a#step_2 {
  background-position:-71px top;
}
a#step_2.selected {
  background-position:-71px bottom;
}
a#step_3 {
  background-position:-142px top;
}
a#step_3.selected {
  background-position:-142px bottom;
}
a#step_4 {
  background-position:-213px top;
}
a#step_4.selected {
  background-position:-213px bottom;
}
a#step_5 {
  background-position:-284px top;
}
a#step_5.selected {
  background-position:-284px bottom;
}
a#step_6 {
  background-position:-355px top;
}
a#step_6.selected {
  background-position:-355px bottom;
}
a#step_7 {
  background-position:-426px top;
}
a#step_7.selected {
  background-position:-426px bottom;
}
a#step_8 {
  background-position:right top;
}
a#step_8.selected {
  background-position:right bottom;
}
#carousel_text {
  margin:0px;
  padding:0px;
  list-style-type:none;
}
#carousel_text ol {
  list-style-type:decimal;
  padding-bottom:18px;
}
#carousel_text li.ll-steps-to-sell_carousel-item {
  margin:0px;
  padding:0 0 20px 0;
  width:628px;
  min-height:794px;
}
#carousel_text p {
  font-size:17px;
}
#carousel_text ol li {
  min-height:0px;
  font-size:16px;
  width:auto;
  padding:3px 0px;
}
.ll-steps-to-sell_carousel-item {
  h2 {
    margin-bottom: 50px;
  }
  ul{padding-left: 45px;}
  li{margin-bottom: 3px;}
}

.caroufredsel_wrapper {
  height: 809px;
}