.ll-services-buttons {
  .order_btn a.llg-button {
    margin: 0;
    width: 100%;
  }
}
.ll-services-buttons__float_left {
	float:left;
}
.ll-services-buttons__float_right {
	float:right;
}

.ll-services-buttons__button {
  background-color: #B41A1A;
  padding:10px 0;
  text-align:center;
  white-space:nowrap;
  width:48.27%;
  color: #ffffff;
}
.ll-services-buttons__button:hover {
  color: #ffffff;
  text-decoration: none;
}
.ll-services-buttons__button:active {
  color: #ffffff;
  text-decoration: none;
}
.ll-services-buttons__button:visited {
	color: #ffffff;
}

.ll-steps-to-side {
    width:330px;
    float:left;
    margin-left:10px;
}
.ll-steps-to-side img {
	display:block;
	margin:15px 0px;
}
@media screen and (max-width: 1280px){
	.ll-services-buttons__hide {
		display:none;
	}
}