.ll-skin__grey-red {
  .llg-wrapper-header {
    border-bottom-color:#B41A1A;
  }
  .ll-home-offers__button {
    background-color : #B41A1A;
  }
  .llg-button {
    background-color : #B41A1A
  }
  .ll-home-career {
    background-image: url('../images/visuals/workers.jpg');
  }
}
