.ll-search-form-home {
  z-index: 100;
  position: absolute;
  width: 56%;
  left: 22%;
  top: 32%;
  min-width: 620px;
  background: rgba(40,40,40,0.7);
    .col-md-3 {
      padding-right: 0;
      padding-left: 0;
	}
	.col-md-1, .col-sm-1, .col-xs-1,
	.col-md-2, .col-sm-2, .col-xs-2,
	.col-md-3, .col-sm-3, .col-xs-3,
	.col-md-4, .col-sm-4, .col-xs-4
    {
      padding:0;
      margin: 0;
	}
	a:active{
		color: #ffffff;
	}
	a:hover{
		color: #ffffff;
	}
	p{
		color: #ffffff;
	}
  button,
  button:hover
  {
    background: #FFFFFF !important;
    box-shadow: none !important;
    filter: none !important;
    filter: progid:DXImageTransform.Microsoft.Glow(enabled=false) !important;
    filter: progid:DXImageTransform.Microsoft.Shadow(enabled=false) !important;
  }
  .filter-option {
    boder:none !important;
  }
  select {
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #cccccc;
  }
  option {
    font-size: 13px;
  }
  .btn
 {
    border-radius: inherit;
    height: inherit;
    width: inherit;
  }
  .dropdown-menu {
    border-radius: 0;
  }
  button {
    width: 100%;
    font-size: 16px;
  }
}

.ll-search-form-home__price {
  input[type="text"] {
    font-weight: normal;
    height:40px;
    width:85%;
    font-size: 16px;
    line-height: 20px;
    padding-left: 10px;
  }
  input[type="text"]::-webkit-input-placeholder {color:#999999 !important;}
  input[type="text"]::-moz-placeholder          {color:#999999 !important;} // Firefox 19+
  input[type="text"]:-moz-placeholder           {color:#999999 !important;} // Firefox 18-
  input[type="text"]:-ms-input-placeholder      {color:#999999 !important;}
}

.ll-search-form-home__radio-buttons input {
  display: none;
}
.ll-search-form-home__checkbox-buttons input {
  display: none;
}

.ll-search-form-home__radio-buttons {
  label {
    cursor: pointer;
    background: #edebeb;
    color: #5e5e5e;
    padding: 11px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-weight: normal;
  }
  label:hover {
    background: #e7e7e7;
  }
}

.ll-search-form-home__checkbox-buttons-rooms {
  text-align: left;
  margin-left: 14px;
  input {
    display: none;
  }
  label {
    font-size: 15px;
    margin-top: 0;
    cursor: pointer;
    background: #FFFFFF;
    color: #000000;
    text-decoration: none;
    text-align: center;
    display: block;
    float:left;
    border-right: 1px solid #cccccc;
    height: 40px;
    width: 32px;
    line-height: 37px;
    text-align: center;
    font-weight: 500 !important;
  }
  label:last-child {
    border-right: none;
  }
  input:checked + label {
    font-weight:bold;
    color:@base_red_color;
	box-shadow: 1px 1px 2px #5e5e5e inset;
  }
}

.ll-search-form-home__radio-buttons input:checked + label {
  font-weight: bold;
  background: #e7e7e7;
}

.llg-button-search {
  background-color: @base_red_color;
  border: none;
  color: #FFFFFF;
  text-align: center;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 0 -2px;
  width: 100%;
  padding: 12px;
}

.ll-search-form-home__select {
  text-decoration: none;
  display: inline-block;
  font-size: 14px; 
  //width: 98%;
  margin-top: 0;
  height: 40px;
}

.ll-search-form-home__radio-tab {
  width: 25%;
  float: left;
  display: inline;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid #cccccc;
  label {
    margin: 0;
  }
}
.ll-search-form-home__radio-tab:last-child {
  border-right: none;
}

.ll-search-form-home__type {
  width: 100%;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-bottom: 30px;
  //select {
  //  min-width: 70px;
  //}
}
.ll-search-form-home__city {
  width: 100%;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -2px;
//  select {
//    min-width: 70px;
////    font-weight: 500;
//  }
}

.ll-search-form-home__commercial-type {
  width: 86%;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left:13px;
  display: none; // Начальное значение. Потом будет включаться в зависимости от действий пользователя
  //select {
  //  min-width: 70px;
  //}
}

.ll-search-form-home__rooms {
	width: 32px * 5;
    display: inline-block;
    margin: 20px auto 0 auto;

  //select {
  //  min-width: 70px;
  //}
}
.ll-search-form-home__rooms-text {
  height: 25px;
  width: 32px * 4;
  margin:0 auto;
  font-size: 13.5px;
  overflow: hidden;
}
.ll-search-form-home__price {
  width: 100%;
  float: left;
  display: inline;
  margin-top: 20px;
  margin-bottom: 30px;
  //select {
  //  min-width: 70px;
  //}
}
.ll-search-form-home__button {
  min-width: 85px;
  display: block;
  float: right;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: -2px;
  line-height: 15px;
  width:100%;
  a {
    font-size: 16px;
    font-weight: bold;
  }
  a:hover {
    text-decoration: none;
    color: #FFFFFF;
  }
  a:visited {
    color: #FFFFFF;
  }
  .fa {
    font-size: 13px;
    position: relative;
    top: -1px;
  }
}

@media only screen
and (min-width : 1224px) {
  .ll-search-form-home__city {
//    width: 20%;
  }
  .ll-search-form-home__rooms {
//    width: 24%;
  }
}