.ll-search-result-list  {
  padding: 10px;
  margin: 0 0 20px 0;
  .mixin__bordered (#DDDDDD);
  overflow: hidden;
  position: relative;
  clear:left;
  a, a:visited {
    color: #5C5C5C;
  }
  a:hover {
    color: #1D1D1B;
    text-decoration: none;
  }
  h4 {
    margin-top: 0;
  }

}
.ll-search-result-list__photo {
  .mixin__float-left;
  width: 30%;
  position: relative;
  img {
    width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 200px;
    object-fit: cover;
  }
}
.ll-search-result-list__description {
  width: 70%;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 0;
}
.ll-search-result-list__new-price {
  padding: 10px;
  float:left;
  background: @base_red_color;
  padding: 5px;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  right: -10px;
  font-size: 16px;
}
.ll-search-result-list__old-price {
  .mixin__bordered(#676767);
  padding: 10px;
  float:left;
  background-color: #FFFFFF;
  background-image: url('../images/interface/bg-strike-through.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3px;
  color: #676767;
  position: absolute;
  top: 42px;
  right: -10px;
  font-size: 12px;
}
//.ll-search-result-list__old-price:before {
//  .mixin__strike-through;
//}
.ll-search-result-list__old-price:empty {
  display: none;
}
.ll-search-result-list__photo-count {
  float:left;
  background: gray;
  padding: 7px;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 0%;
  opacity: 0.7;
}
// ----------------------------------------------------------------
table.ll-search-result-list__table1 {
  width: 70%;
  margin-left:15%;
  margin-top: 10px;
  .mixin__bordered (#DDDDDD);
  table-layout: fixed;
}
td.ll-search-result-list__table1 {
  .mixin__bordered (#DDDDDD);
  padding:7px;
}
th.ll-search-result-list__table1 {
  .mixin__bordered (#DDDDDD);
  padding:7px;
}
table.ll-search-result-list__table2 {
//  table-layout: fixed;
  width: 70%;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
//---------------------Empty result------------------------
.search-result_empty{
	display: none;
	color: #696969;
}
.search-result_empty h2{
	color: #000000;
}
