.ll-steps-to-sell-toggle {
  background: url('../images/visuals/steps-to-sell-1.jpg') no-repeat center top;
  height: 525px;
  width:100%;
  overflow: hidden;
  a {
    background: none !important;
    border: none !important;
    color: #333333;
    font-size: 20px;
  }
  ul {
    border: none !important;
  }
}

.ll-steps-to-sell-toggle-bg{
	margin-top: 350px;
	height: 100px;
	width: 100%;
	background-color: #FFFFFF;
	opacity: 0.5;
}

.ll-steps-to-sell-toggle-h1{
	width: 50%;
	float: left;
	margin-left: 5%;
}

.ll-steps-to-sell-toggle-h1 h1{
	font-size: 30pt;
	font-weight: 600;
}

.ll-steps-to-sell-toggle-numbers{
	width: 35%;
	float: right;
	margin-right: 5%;
}

.ll-steps-to-sell-toggle-numbers a{
	font-size: 37pt;
	font-weight: 700;
	width: 40px;
}

.ll-steps-to-sell-toggle-numbers-tabs > li.active > a{
	color: @base_red_color;
}
.ll-steps-to-sell-toggle-numbers-tabs > li.active > a:focus{
	color: @base_red_color;
}
