.ll-single-service {
  width: 100%;
  overflow: hidden;
  padding: 2em;
  font-size: 1.3em;
  background-color: #ffffff;
  ol {
    padding: 20px;
    li {
      list-style:decimal outside;
    }
  }
  ul {
    padding: 20px;
    li {
      list-style:square outside;
    }
    ul {
      padding: 0 20px;
    }
  }

  p {
    margin-top: 30px;
    padding: 0;
    text-indent: 20px;
    line-height: 1.6em;
  }

  .ll-single-service__right-arrow-list{
    li{
      list-style-type: none;
      line-height: 1.6em;

    }
    li:before{
      content: ">";
      margin-right: 5px;
      vertical-align: top;
    }
  }
  .ll-single-service__list-no-marker-_text-indent{
    list-style: none;
    li{
      text-indent: 30px;
    line-height: 1.6em;
    }
  }

  .ll-single-service__list-no-marker-padding_left{
    list-style: none;
    li{
      padding-left: 30px;
      line-height: 1.6em;
    }
  }

  .ll-single-service__list-no-marker-margin_top{
    list-style: none;
    margin-top: 30px;
    li{
      line-height: 1.6em;
    }
    li:before {
      margin-right: 5px;
    }
  }

  .ll-single-service__list-no-markers{
    list-style: none;
    li{
      line-height: 1.6em;
    }
  }
.ll-single-service__h3-padding_left{
  padding-left: 30px;
}



}