.ll-sell-advices {
  padding: 40px 20px 20px 20px;
  font-size: @base_font_size;
  .mixin__red-link;
}

.ll-sell_advices-header {
  background: url('../images/visuals/career.jpg') no-repeat center top;
  height: 525px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}
.ll-sell_advices-header-h1 {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 15px 100px;
  margin-top: 50px;
  text-align: right;
}

.ll-sell_advices-features img {
  width: 80px;
  height: 80px;
}
.ll-sell_advices-features td {
  vertical-align: top;
  padding: 20px 10px 10px 10px;
  h3 {
    margin-top: 0;
  }
}
.ll-sell_advices-features p {
  margin-top: 20px;
}
.ll-sell_advices-content .col-md-4{
	padding-right: 0;

	.col-md-4{
		padding-right: 0;
	}
	
}
.llg-wrapper-main__sell-advices{
	@media (max-width: 980px) {
		.col-md-4{
			padding-right: 0;
			padding-left: 0;
		}
		.ll-sell_advices-content .col-md-4{
			padding-left: 0;		
		}
	}
}