.ll-search-result-grid  {
  .mixin__bordered (#DDDDDD);
  .mixin__float-left;
  padding: 10px;
  margin: 0 10px 20px 10px;
  overflow: hidden;
  position: relative;
  width:30%;
  min-height: 420px;
  a, a:visited {
    color: #5C5C5C;
  }
  a:hover {
    color: #1D1D1B;
    text-decoration: none;
  }
  h4 {
    margin-top: 0;
  }
  i {
    color: #5C5C5C;
    font-size: 22px;
  }
}
.ll-search-result-grid__photo {
  .mixin__float-left;
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 150px;
    object-fit: cover;
  }
}
.ll-search-result-grid__description {
  .mixin__float-left;
  text-align: center;
  margin:20px 0 0 0;
  overflow: hidden;
  width: 100%;
}
.ll-search-result-grid__new-price {
  padding: 10px;
  float:left;
  background: @base_red_color;
  padding: 5px;
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  right: -10px;
  font-size: 16px;
}
.ll-search-result-grid__old-price {
  .mixin__bordered(#676767);
  padding: 10px;
  float:left;
  background-color: #FFFFFF;
  background-image: url('../images/interface/bg-strike-through.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding: 3px;
  color: #676767;
  position: absolute;
  top: 42px;
  right: -10px;
  font-size: 12px;
}
//.ll-search-result-grid__old-price:before {
//  .mixin__strike-through;
//}
.ll-search-result-grid__old-price:empty {
  display: none;
}
.ll-search-result-grid__photo-count {
  float:left;
  background: gray;
  padding: 7px;
  color: white;
  position: absolute;
  bottom: 0%;
  left: 0%;
  opacity: 0.7;
}
// ----------------------------------------------------------------
table.ll-search-result-grid__table1 {
  margin: 10px 0;
  .mixin__bordered (#DDDDDD);
  table-layout: fixed;
}
td.ll-search-result-grid__table1 {
  .mixin__bordered (#DDDDDD);
  padding:7px;
}
th.ll-search-result-grid__table1 {
  .mixin__bordered (#DDDDDD);
  padding:7px;
}
table.ll-search-result-list__table2 {
  //  table-layout: fixed;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 10px;
  right: 20px;
}