.ll-search-form {
  width: 250px;
  margin-top: 40px;
  //overflow: hidden;
  .mixin__select-placeholder;
  font-weight: bold;
  margin-left:-15px;
  .btn
  {
    border-radius: inherit;
    height: inherit;
    width: inherit;
  }
  .dropdown-menu {
    border-radius: 0;
  }
}

.ll-search-form__select (@percent) {
  margin-top: 5%;
  width: @percent;
}

.ll-search-form__select-100 {
  .ll-search-form__select(100%);
}
.ll-search-form__select-60 {
  .ll-search-form__select(59%);
}
.ll-search-form__select-50 {
  .ll-search-form__select(48%);
}
.ll-search-form__select-40 {
  .ll-search-form__select(39%);
}

.ll-search-form__tabs-container{
  .mixin__bordered (#DDDDDD);
  border-top: none;
  padding: 20px;
}

/*.ll-search-form__floor, */
.ll-search-form__additional {
  padding: 10px 0 0 0;
  label {
    float:left;
    margin: 5px 10px 5px 0;
  }
  input[type=radio],
  input[type=checkbox] {
    margin-right: 5px;
  }
}

.ll-search-form__radio-buttons {
  width: 100%;
  margin-top: 20px;
  label {
    .mixin__float-left;
    padding: 10px;
    cursor: pointer;
  }
  label:last-child {
    .mixin__float-right;
  }
}

.ll-search-form__link  {
  margin: 20px;
  position: center;
  a {
    text-decoration: none;
    position: center;
    color: #BBBBBB;
    margin-top: 15px;
  }
}

.ll-search-form__fixed {
  position: fixed;
  top: 0;
}

.ll-search-form__tabs-switch {
  li {
    width:50%;
  }
  a {
    .mixin__bordered (#DDDDDD);
    .mixin__border-radius (0);
    border-bottom: none;
    border-collapse: collapse;
    text-decoration: none;
    color: #555;
    margin:0;
  }
}

.ll-search-form__estate-type {
  label {
    .mixin__bordered (#DDDDDD);
    .mixin__float-left;
    padding: 10px;
    width: 32%;
    cursor: pointer;
  }
  input {
    display: none;
  }
}
.ll-search-form__type-apartment {
  width: 36% !important;
  border-bottom: none; // Начальное значение, потом будет обрабатываться скриптом
  label {
    display: none; // Начальное значение, потом будет обрабатываться скриптом
  }
}

.ll-search-form__minus,
.ll-search-form__plus {
  .mixin__float-right;
  position: absolute;
  top: 6px;
  right: 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.ll-search-form__minus {
  background-image: url("../images/interface/minus.png");
}
.ll-search-form__plus {
  background-image: url("../images/interface/plus.png");
}

.ll-search-form__cost,
.ll-search-form__floor,
.ll-search-form__total-area,
.ll-search-form__sotki,
.ll-search-form__fasad {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  input {
    .ll-search-form__select-50;
    margin-bottom: 15px;
    display: none; // Начальное значение, потом будет обрабатываться скриптом
  }
}
.ll-search-form__diapason-label {
  margin-top: 10px;
  width: 100%;
  text-align: left;
}
.ll-search-form__walls-households,
.ll-search-form__entry,
.ll-search-form__apartment,
.ll-search-form__state,
.ll-search-form__furniture,
.ll-search-form__city,
.ll-search-form__district,
.ll-search-form__subdistrict,
.ll-search-form__street
{
  .ll-search-form__select-100;
}
.ll-search-form__district,
.ll-search-form__subdistrict,
.ll-search-form__minus,
.ll-search-form__floor label {
  display: none; // Начальное значение, потом будет обрабатываться скриптом
}
.ll-search-form__slider {
  width: 91%;
  margin: 0 auto;
  display: none; // Начальное значение, потом будет обрабатываться скриптом
}
//.llg-input-check {
//  input {
//    display: block;
//  }
//  label {
//    display: block;
//    padding: 0;
//  }
//}
//  ----------- Нужно переделать в БЭМ -----------

.affix {
  position: fixed;
  margin-top: 40px;
}

.ui-slider {
  position: relative;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 17px;
  height: 17px;
  background: url('../images/interface/slider.png') no-repeat;
  cursor: pointer
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
.ui-slider-horizontal {
  height: 4px;
  margin-bottom: 20px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -8px;
  margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-widget-content {
  border: 1px solid #999999;
  background: #F5F5F6;
}
.ui-widget-header {
  border: 1px solid #999999;
  background: #999999;
}
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}