.ll-sell-header{
  overflow: hidden;
//  border-bottom: 1px solid black;
  a{
    text-decoration: underline;
    color: @base_red_color;
  }
}

.sell-bold-head{
  margin-top: 1.87em;
  margin-bottom: 1.17em;
  font-size: 26px;
  line-height: 1.4567em;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
padding-bottom: 5px;
  clear:both;
}

.sell-thick-head{
  padding: 50px;
}

.sell-thick-head p{
  display: inline;
  font-size: 22px;
  line-height: 1.4567em;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2.5em;
  clear: both;
}

.llg-wrapper-main__sell .llg-button {
    background-color: #ffffff;
    border: none;
    color: #B72C2C;
    padding: 0 10px;
    text-align: center;
    text-decoration: underline;
    vertical-align: middle;
    display: inline;
    font-size: 22px;
    margin-top: auto;
}