.ll-skin__brown {
  .llg-wrapper-header {
    border-bottom-color:#321101;
  }
  .ll-home-offers__button {
    background-color : #321101;
  }
  .llg-button {
    background-color : #321101
  }
  .ll-home-career {
  background-image: url('../images/visuals/workers-white.jpg');
    h2 {
      a {
        text-shadow: #cccccc 1px 1px 0, #cccccc -1px -1px 0,
          #cccccc -1px 1px 0, #cccccc 1px -1px 0;

      }
    }
  }
}
