.ll-toggle  {
  a {
    white-space: nowrap;
    color: #555555;
    border-radius: 0 !important;
  }
  ul {
    .mixin__no-border;
  }
  li:last-child {
    .mixin__float-right;
  }
  li {
    display: none;
  }
  ul:empty {
    display: none;
  }
}
.ll-toggle:empty {
  display: none;
}
//--------------------------------------------------------
.llg-wrapper-toggle__search {
  .llg-for__search {display: block;}
}
.llg-wrapper-toggle__favorites {
  .llg-for__favorites {display: block;}
}
.llg-wrapper-toggle__agents {
  .llg-for__agents {display: block;}
}
.llg-wrapper-toggle__agent-info {
  .llg-for__agent-info {display: block;}
}
.llg-wrapper-toggle__info {
  .llg-for__info {display: block;}
}
.llg-wrapper-toggle__user-page {
  .llg-for__user-page {display: block;}
}
.llg-wrapper-toggle__services-list {
  .llg-for__services-list {
    display: block;
  }
  .active {
    i {
      display: none;
    }
  }
  .llg-for__all {display: none !important;;}
  background:#FFFFFF;
  padding: 0;
}
.llg-for__all {
  display: block;
}