.ll-user-page-form {
	label {
		width: 70px; 
	}
	input {
		width: 200px;
	}
	input {
		margin-bottom: 20px;
	}
	label {
		margin-bottom: 20px;
	}
	input[type=checkbox] {
		width: 20px;
	}
}
.ll-user-page-photo {
	display: inline-block;
	height: 250px;
	width: 200px;
	overflow: hidden;
}
.ll-user-page-photo-img{
	width: 100%;
}
.ll-user-page-change_photo{
	display: inline-block;
	width: 100%;
	text-align: center;
	a{
		color: #000000;
		text-decoration: underline;
	}
}

.ll-user-page-new_poster a {
	font-size: 24px;
	color: #B72C2C;
}
.ll-user-page-new_poster-icon{
	float: left;	
	display: inline-block;
	text-align: center;
	border: 3px solid #B72C2C;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 30px;
	margin-top: 10px;
}
.ll-user-page-new_poster-link{
	display: inline-block;
	text-align: center;
	width: 100px;
	margin-left: 20px;
}
.ll-user-page-agent_link a{
	color: #000000;
	text-decoration: underline;	
	font-size: 16px;
}
.ll-user-page-social {
	font-size: 20px;	
}
.ll-user-page-social-buttons {
	ul li{
		display: inline;
		font-size: 24px;
		width: 40px;
		height: 30px;
	}
	i {
		width: 35px;
		height: 35px;
		color: #808080;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		-o-border-radius: 50px;
		text-align: center;
		line-height: 35px;
	}
}
