.ll-vacancies_block{
	padding: 20px;
	background-color: #ffffff;
}
.ll-vacancies_block a, a:hover, a:visited {
    color: #000000;
}
.ll-vacancies_block .llg-button {
    color: #ffffff;
}
.ll-vacancies_block-img{
	height: 200px;
	overflow: hidden;
	margin-top: 20px;
	max-width: 300px;
		display: inline-block;
}
.ll-vacancies_block-img img{
	width: 100%;
}