.ll-visual-in-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  h1{
    color: @base_red_color;
    font-size:2em;
  }
  p {
    margin-top: 20px;
  }
}
.ll-visual-in-header__content {
  padding: 10px 10px 10px 50px;
  margin: 80px 0 0 0;
  background: rgba(255,255,255,0.7);
  overflow: hidden;
  max-width: 550px;
  border-left: 2px solid @base_red_color;
}

.ll-visual-in-header__mobile-application {
  background-image: url('../images/visuals/mobile-application.jpg');
}
.ll-visual-in-header__career {
  background-image: url('../images/visuals/career.jpg');
}
.ll-visual-in-header__career-version-2 {
  background-image: url('../images/visuals/career-version-2.jpg');
}
.ll-visual-in-header__clients {
  background-image: url('../images/visuals/clients.jpg');
}
.ll-visual-in-header__history {
  background-image: url('../images/visuals/history.jpg');
}
.ll-visual-in-header__education {
  background-image: url('../images/visuals/education.jpg');
}
.ll-visual-in-header__awards {
  background-image: url('../images/visuals/awards.jpg');
}

.ll-visual-in-header__awards {
  background-image: url('../images/visuals/awards.jpg');
}
.ll-visual-in-header__buy-advices {
  background-image: url('../images/visuals/buy-advices.jpg');
}
.ll-visual-in-header__sell-advices {
  background-image: url('../images/visuals/sell-advices.jpg');
}
.ll-visual-in-header__news {
  background-image: url('../images/visuals/news.jpg');
}
.ll-visual-in-header__about {
  background-image: url('../images/visuals/about.jpg');
}
.ll-visual-in-header__services {
  background-image: url('../images/visuals/services.jpg');
}
.ll-visual-in-header__vacancies {
  background-image: url('../images/visuals/vacancies.jpg');
}
.ll-visual-in-header__why-buy-with-landlord {
  background-image: url('../images/visuals/why-buy-with-landlord.jpg');
}
.ll-visual-in-header__why-sell-with-landlord {
  background-image: url('../images/visuals/why-sell-with-landlord.jpg');
}
.ll-visual-in-header__why-rent-in-with-landlord {
  background-image: url('../images/visuals/why-rent-in-with-landlord.jpg');
}
.ll-visual-in-header__why-rent-out-with-landlord {
  background-image: url('../images/visuals/why-rent-out-with-landlord.jpg');
}
.ll-visual-in-header__why-documents-with-landlord {
  background-image: url('../images/visuals/why-documents-with-landlord.jpg');
}
.ll-visual-in-header__structure {
  background-image: url('../images/visuals/structure.jpg');
}
.ll-visual-in-header__leaders {
  background-image: url('../images/visuals/leaders.jpg');
}
.ll-visual-in-header__analytics {
  background-image: url('../images/visuals/analytics.jpg');
}
.ll-visual-in-header__services-for-buyer {
  background-image: url('../images/visuals/services-for-buyer.jpg');
}
.ll-visual-in-header__services-for-seller {
  background-image: url('../images/visuals/services-for-seller.jpg');
}
.ll-visual-in-header__services-for-tenant {
  background-image: url('../images/visuals/services-for-tenant.jpg');
}
.ll-visual-in-header__services-for-owner {
  background-image: url('../images/visuals/services-for-owner.jpg');
}
.ll-visual-in-header__services-additional {
  background-image: url('../images/visuals/services-additional.jpg');
}