.llg-wrapper-main__vacancy{
	background-color: #E0E0E0;
	padding-bottom: 50px;
}
.ll-vacancy-first_block{
	min-height: 200px;
	background-color: #ffffff;
	border-left: 2px solid #B72C2C;	
	padding: 30px;
}
.ll-vacancy-header{
	width: 65%;
	float: left;
}
.ll-vacancy-img{
	width: 30%;
	float: right;
	height: 200px;
	overflow: hidden;
}
.ll-vacancy-img img{
	width: 100%;
}
.ll-vacancy-main_text{
	width: 65%;
	float: left;
}
.ll-vacancy-second_block{
	min-height: 200px;
	background-color: #ffffff;	
	padding: 30px;	
}
.ll-vacancy-office_list {
	font-size: 18px;
	.ll-vacancy-office_list h3{
		text-decoration: underline;
		text-decoration-color: @base_red_color;
	}
}