.ll-vacancies{
	.ll-vacancies-filter{
		background-color: #f1f1f1;
		padding: 10px 20px 20px 20px;
		border: 1px solid #d8d8d8;
	}
	.ll-vacancies-filter input[type="submit"] {
		margin-top: 0;
		width: 200px;
		height: 35px;
		padding: 0;
	}
	.ll-vacancies-filter input[type="text"], select {
		width: 200px;
	}
}
.ll-vacancies-list {
    display: table;
	border: 1px solid #d8d8d8;
	width: 100%;
	
	div{
		vertical-align: middle;
	}
	.ll-vacancies-list-header{
		display: table-row;	
		background-color: #f1f1f1;	
		text-align: center; 
		font-size: 16px;	
	}

	.ll-vacancies-list-cell {
		display: table-cell;
		width: 25%;
		padding: 20px;
		border-bottom: 1px solid #d8d8d8; 
	}

	.ll-vacancies-list-row {	
		border: 1px solid #d8d8d8;
		text-align: center; 
		font-size: 16px;	
		display: table-row;	
	}
	.ll-vacancies-list-row-selected{
		border-top: 5px solid #d0d0d0;
		border-bottom: 5px solid #d0d0d0;
	}
	.ll-vacancies-list-row-selected-right{
		border-right: 5px solid #d0d0d0;
	}
	.ll-vacancies-list-row-selected-left{
		border-left: 5px solid #d0d0d0;
	}
}
	    
.llg-wrapper-main__vacancies {
	h2{
		margin-top: 40px;
		margin-bottom: 30px;
	}
}