.ll-why-rent-in-with-landlord {
  background-color: #ffffff;
  min-height: 447px;
  padding: 50px;
  margin-bottom:13px;
  font-size: @base_font_size;
  h3 {
    margin: 30px 0 0 0;
  }
  .mixin__red-link;
}