.ll-why-buy-with-landlord {
  background-color: #ffffff;
  min-height: 425px;
  padding:30px 50px;
  margin-bottom: 13px;
  font-size: @base_font_size;
  h3 {
    margin: 30px 0 0 0;
  }
  .mixin__red-link;
}